<template>
    <div class="post-wrapper">
        <div class="content-header">
            <h2>新規記事登録</h2>
        </div>
        <div class="content-form">
            <form @submit.prevent="onSubmit()">
                <div class="row form-content">
                    <div class="col-12 col-sm-12 col-md-8 col-lg-9 .col-xl-10 right-form">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">タイトル</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="item.title">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">公開日</label>
                            <datepicker class="col-sm-10"
                                        :format="datepicker.format"
                                        v-model="item.release_date"
                            ></datepicker>
                        </div>
                        <div class="form-group row">
                            <vue-ckeditor
                                    v-model="item.content"
                                    :config="config"
                            ></vue-ckeditor>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3 .col-xl-2 left-form">
                        <div class="form-group">
                            <label class="col-form-label">親カテゴリ</label>
                            <v-select :options="categories_parent" label="name"
                                      v-model="item.category_parent"
                                      placeholder="親カテゴリ"
                                      @input="selectCategory"
                            >
                            </v-select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">子カテゴリ</label>
                            <v-select :options="categories_child"
                                      label="name"
                                      id="categories_child"
                                      placeholder="子カテゴリ"
                                      v-model="item.category_child"
                            >
                            </v-select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">ステータス</label>
                            <v-select lable="status.label" :options="status" v-model="item.status">
                            </v-select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">発売号</label>
                            <v-select :options="release_numbers" readonly label="name" v-model="item.release_number_id">
                            </v-select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">サムネイル</label>
                            <div class="col-12 align-items-center old-image">
                                <a href="javasctip:;" id="old-img" title="Remove image" @click="upload = !upload"
                                   v-if="upload">
                                    <img class="img-thumbnail" :src="old_thumbnail" fluid v-if="old_thumbnail">
                                    <img class="img-thumbnail" src="/images/no-image.jpg" fluid v-else>
                                </a>
                            </div>
                            <vue-dropzone ref="myVueDropzone" id="dropzone" v-if="!upload"
                                          :options="dropzoneOptions"
                                          :useCustomSlot=true
                                          @vdropzone-success="vsuccess"
                                          @vdropzone-file-added="vaddfile"
                                          @vdropzone-max-files-exceeded="vmaxfile"
                                          @vdropzone-removed-file="vremoved"
                            >
                                <div class="dropzone-custom-content">
                                    <img src="/images/cloud-upload.png" width="40" alt="upload-icon">
                                    <h5 class="dropzone-custom-title">ここに画像ドラッグ</h5>
                                </div>
                            </vue-dropzone>
                            <input type="hidden" v-model="item.thumbnail">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info btn-submit">保存</button>
                <button type="button" class="btn btn-warning btn-cancel" v-on:click="cancel()">キャンセル</button>
            </form>
        </div>
    </div>
</template>

<script src="../../business/post/EditPostBusiness.js"></script>
<style lang="scss">
    .ck-content {
        height: 435px;
    }

    .ck.ck-editor {
        width: 98%;
    }

</style>
