<template>
    <form method="get" @submit.prevent="onSubmit()">
    <div class="row form-left">
        <div  class="col-12 col-sm-12 col-md-4 col-lg-4 ">
            <div class="form-group row">
                <label  class="col-4 col-form-label col-form-label-sm">発売号</label>
                <div class="col-8">
                    <v-select label="name" id="release_number" :options="release_numbers"
                              :placeholder="placeholder"
                              v-model="search.release_number"
                    >
                    </v-select>
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-4 col-form-label col-form-label-sm">ステタース</label>
                <div class="col-8">
                    <v-select label="label" :placeholder="placeholder" id="status"
                              :options="status"
                              v-model="search.status"
                    >
                    </v-select>
                </div>
            </div>
        </div>
        <div  class="col-12 col-sm-12 col-md-4 col-lg-4 ">
            <div class="form-group row">
                <label  class="col-4 col-form-label col-form-label-sm">親カテゴリ</label>
                <div class="col-8">
                    <v-select label="name" id="cat-parent" :placeholder="placeholder"
                              :options="categories_parent"
                              v-model="search.category_parent"
                              @input="selectCategory"
                    >
                    </v-select>
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-4 col-form-label col-form-label-sm">キワード</label>
                <div class="col-8">
                    <input type="text" id="search-input" class="form-control form-control-sm"
                           placeholder="結果内容の入力"
                           autocomplete="off"
                           v-model="search.content"
                    >
                </div>
            </div>
        </div>
        <div  class="col-12 col-sm-12 col-md-4 col-lg-4 ">
            <div class="form-group row">
                <label  class="col-4 col-form-label col-form-label-sm">子カテゴリ</label>
                <div class="col-8">
                    <v-select label="name" :placeholder="placeholder" id="cat-child"
                              :options="categories_child"
                              v-model="search.category_child"
                    >
                    </v-select>
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-4 col-form-label col-form-label-sm"></label>
                <div class="col-8">
                    <button class="btn btn-warning btn-search" >検索</button>
                </div>
            </div>
        </div>
    </div>
</form>
</template>
<script src="../../business/post/FormSearchBusiness.js"></script>
