<template>
    <div class="post-wrapper" >
        <div class="content-header">
            <h2>記事一覧</h2>
            <router-link :to="{ name: 'admin.post.add'}">
                <button class="btn btn-info btn-add">新規記事追加</button>
            </router-link>
        </div>
        <div class="content">
            <div class="content-table">
                <div class="row content-table-top">
                    <div class="col-12 col-sm-12 col-md-10 col-lg-10">
                        <form-search @data_search="data_search = $event" v-bind:search_reset="search_reset" ></form-search>
                    </div>
                    <div  class="col-12 col-sm-12 col-md-2 col-lg-2">
                        <div class="row right-items">
                            <p>{{paginate.per_page*(currentPage - 1) + (0 + 1)}}-{{paginate.per_page*(currentPage - 1) + (items.length)}}件 / {{paginate.total}}件</p>
                        </div>
                    </div>
                </div>
                <div class="overflow-auto table-responsive">
                    <div v-if="data_search" class="row justify-content-center" >
                        <a href="javascript:;" class="btn btn-info btn-reset-search" @click="resetSearch()" >検索結果を削除する</a>
                    </div>
                    <table class="table table-bordered" v-if="items.length">
                        <thead>
                            <tr>
                                <th class="align-middle text-center" rowspan="2">#</th>
                                <th class="align-middle text-center" colspan="8">タイトル</th>
                                <th class="align-middle text-center" colspan="3">発売号</th>
                                <th class="align-middle text-center" colspan="6">カテゴリ</th>
                                <th class="align-middle text-center" rowspan="2">変更。削除</th>
                            </tr>
                            <tr>
                                <th class="align-middle text-center" colspan="3">ステタース</th>
                                <th class="align-middle text-center" colspan="3">作成者</th>
                                <th class="align-middle text-center" colspan="3">更新日</th>
                                <th class="align-middle text-center" colspan="3">公開日</th>
                                <th class="align-middle text-center" colspan="5">記事内容</th>
                            </tr>
                        </thead>
                        <tbody v-for="(item, index) in items" >
                        <tr>
                            <td class="align-middle text-center" rowspan="2"><span>{{paginate.per_page*(currentPage - 1) + (index +1)}}</span></td>
                            <td class="align-middle text-center" colspan="8"><span :title="item.title">{{item.title.substr(0, 50)+'...'}}</span></td>
                            <td class="align-middle text-center" colspan="3">{{item.release_number_name}}</td>
                            <td class="align-middle text-center" colspan="6">{{item.category_parent_name}}-{{item.category_child_name}}</td>
                            <td class="align-middle text-center" rowspan="2">
                                <div>
                                    <router-link class="btn btn-info btn-edit"  :to="{name: 'admin.post.edit', params: {id: item.id}}" >変更</router-link>
                                    <button class="btn btn-warning btn-del "  @click="showModal(item)" >削除</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center" colspan="3">{{item.status}}</td>
                            <td class="align-middle text-center" colspan="3">{{item.author}}</td>
                            <td class="align-middle text-center" colspan="3">{{ item.updated_at | moment("YYYY\年MM\月DD\日") }}　</td>
                            <td class="align-middle text-center" colspan="3">{{item.release_date | moment("YYYY\年MM\月DD\日")}}</td>
                            <td class="align-middle text-center" colspan="5">
                                <button class="btn btn-primary btn-show" @click="showModalContent(item,index)" >表示</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div v-else-if="!!paginate.total" class="text-center">
                        <b-spinner variant="info" label="Spinning"></b-spinner>
                    </div>

                    <b-pagination
                            v-model="currentPage"
                            :total-rows="paginate.total"
                            :per-page="paginate.per_page"
                            :next-text="next_text"
                            :prev-text="prev_text"
                            hide-goto-end-buttons
                            class="mt-5"
                            v-if="paginate.total"
                    ></b-pagination>
                </div>
            </div>
        </div>
        <div>
            <b-modal ref="modal-confirm"  id="modal-alert">
                <template slot="modal-header" >
                    <h5 class="mod-title">記事の削除</h5>
                </template>
                <template slot="default" >
                    <h5>この記事を削除してよろしいですか。</h5>
                </template>
                <template slot="modal-footer" class="float-left" >
                    <b-button size="sm" variant="info" class="mod-btn-del" @click="delItem()">はい</b-button>
                    <b-button size="sm" variant="warning" class="mod-btn-cancel"  @click="cancel('modal-confirm')">いいえ</b-button>
                </template>
            </b-modal>
            <b-modal ref="modal-content" id="modal-content" scrollable>
                <template slot="modal-header" >
                    <h5 class="mod-title">
                        <span>#{{paginate.per_page*(currentPage - 1) + (index +1)}}：</span><span>{{item.title}}</span>
                    </h5>
                    <b-button size="sm" variant="danger" @click="cancel('modal-content')"> 閉じる</b-button>
                </template>
                <template slot="default" class="mx-auto" >
                    <img :src="item.thumbnail" class="img-fluid " @error="imgUrlAlt"   >
                    <div class="my-4" v-html="item.content">
                    </div>
                </template>
                <template slot="modal-footer" class="float-left" >
                    <div class="meta-post">
                        <span>作成者: </span> {{ item.author }}　｜　<span>作成日: </span> {{ item.created_at | moment("YYYY\年MM\月DD\日") }}　
                    </div>
                </template>
            </b-modal>
        </div>
    </div>
</template>
<script src="../../business/post/IndexPostBusiness.js"></script>
