<template>
    <div class="container">
        <div class="form-login">
            <form class="form-horizontal" role="form" @submit.prevent="login" >
                <div class="form-title">
                    <h2> 総合ジャーナル</h2>
                </div>
                <div class="form-group">
                    <div class="">
                        <input type="text" v-model="user.mail" id="mail" class="form-control" placeholder="メールの入力" autofocus="autofocus">
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <input type="password" v-model="user.pwd" id="password" class="form-control" placeholder="パスワードの入力" value="" >
                    </div>
                </div>
                <div class="form-group">
                    <div class="el-error-s text-danger" v-if="errors.error">{{errors.error}}</div>
                    <div class="el-error text-danger" for="mail" v-if="errors.mail">{{errors.mail}}</div>
                    <div class="el-error text-danger"  for="pwd" v-if="errors.pwd">{{errors.pwd}}</div>
                </div>
                <div class="form-group">
                    <div class="el-btn-submit">
                        <button type="submit" class="btn btn-primary">ログイン</button>
                    </div>
                </div>
            </form>
        </div>
    </div>  
</template>
<script src="../../business/auth/LoginBusiness.js"></script>
