@media (max-width: 768px) {
  .container-fluid main {
    margin: 0 auto;
  }
  .container {
    padding: 0;
    max-width: 100%;
  }
  .header {
    .header-middle-mobile {
      padding: 0 10px;
      .logo {
        font-size: 1.5rem;
      }
      .search-box {
        .form-inline {
          flex-wrap: nowrap;
          input[type='search'] {
            border-radius: 10px 0 0 10px;
          }
          .btn-submit {
            border-radius: 0 10px 10px 0;
          }
        }
      }
      .resize-box {
        padding: 0 !important;
        background: #fff !important;
        .show-pc {
          display: none;
        }
        .show-mb {
          position: relative;
          width: 30px;
          height: 100%;
          display: flex;
          .menubar {
            position: relative;
            height: 100%;
            width: 100%;
            &:after {
              content: '';
              width: 30px;
              height: 30px;
              position: absolute;
              top: calc(50% - 15px);
              right: 0;
              opacity: 0.7;
              background: url(../../images/mobilebar.png) 0px 6px no-repeat;
              background-size: contain;
            }
            &.open {
              &:after {
                background: url(../../images/mobilebar-close.png) no-repeat;
                background-size: contain;
              }
            }
          }
        }
      }
    }
    .header-menu {
      padding: 0;
      .category-global {
        display: none;
      }
      .category-top {
        position: relative;
        z-index: 1;
        transform: translateX(-100%);
        transition: transform .5s;
        height: 0;
        &::before {
          display: none;
        }
        .nav {
          flex-direction: column;
          background: #FFFFFF;
          border: 1px solid #c1c1c1;
          .nav-item {
            border-bottom: 1px solid #c1c1c1;
            background: #F2F2F2;
            padding: 10px 0;
            -webkit-user-select: none; /* Safari 3.1+ */
            -moz-user-select: none; /* Firefox 2+ */
            -ms-user-select: none; /* IE 10+ */
            user-select: none; /* Standard syntax */
            &:first-child {
              display: none;
            }
            .nav-link {
              visibility: visible;
              padding: 0 10px;
              font-weight: bold;
              &:hover:not(.active) {
                &::before {
                  display: none;
                }
              }
            }
            .dropdown-menu {
              padding: 0;
              .dropdown-item {
                font-weight: bold;
                padding: 10px 0;
              }
            }
            .dropdown-menu.show-mb {
              display: flex;
              flex-direction: column;
              width: 100%;
              border-bottom: 1px solid #c1c1c1;
              .dropdown-item {
                border-bottom: 1px solid #c1c1c1;
                text-align: center;
              }
            }
            &.dropdown {
              .nav-link {
                display: inline-block;
                &::after {
                  display: none;
                }
              }
              position: relative;
              &:before {
                content: '';
                position: absolute;
                top: 10px;
                right: 20px;
                background: url(../../images/arrow-solid.png) no-repeat;
                background-size: contain;
                width: 20px;
                height: 20px;
                opacity: 0.6;
                z-index: 3;
                cursor: pointer;
              }
              &.show-mb {
                &:before {
                  transform: rotate(180deg);
                }
              }
            }
          }
        }
        &.show {
          transform: translateX(0);
          &::before {
            display: none;
          }

        }
      }
    }
  }
  #slideHome {
    &.show-mb {
      .carousel-item {
        height: 300px;
        .row {
          display: flex;
          .info {
            position: absolute;
            bottom: 0;
            height: 55px;
            z-index: 1;
            max-width: 100%;
            padding: 0;
            border: 1px solid #41719C;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              background: #FFFFFF;
              width: 100%;
              height: 100%;
              z-index: -1;
              opacity: 0.7;
            }
            .name {
              margin: 0;
              height: 55px;
              line-height: 55px;
              a {
                color: #000;
                text-shadow: 1px -1px #fefff7;
              }
            }
            .meta {
              display: none;
            }
            .description {
              display: none;
            }
            .control {
              position: absolute;
              bottom: 12.5px;
              right: 40px;
              left: unset;
              .btn-next {
                background: #FBE5D6;
                border: 1.5px solid #7b7a7a;
                color: #843C0C;
                &:after {
                  background-color: #FBE5D6;
                  border-top: 1.5px solid #7b7a7a;
                  border-right: 1.5px solid #7b7a7a;
                }
              }
            }
          }
          .image {
            width: 100%;
            max-width: 100%;
            padding: 0;
            height: 100%;
            max-height: 100%;
            position: absolute;
          }
        }
      }
    }
  }
  .modal .modal-dialog {
    max-width: 98vw;
    margin: auto;
  }
  #content-latest-posts {
    &.show-mb {
      .h-meta {
        padding-left: 10px;
      }
      .content {
        height: auto;
        .top-1 {
          width: 100%;
          height: 300px;
          margin-bottom: 10px;
        }
        .top-234 {
          width: 100%;
          padding: 0;
          .top-34 {
            height: 250px;
          }
          .top-2 {
            display: none;
          }
          .top-4 {
            .d-info {
              left: 4px;
            }
          }
          .h-title {
            font-size: 1.5rem;
          }
          .p-created {
            font-size: 1rem;
          }
          .d-info {
            max-width: 95%;
            border-bottom: 1px solid #696969;
            border-left: 1px solid #696969;
          }
        }
      }
    }
  }
  .block-posts {
    #content-posts {
      &.show-mb {
        .h-meta {
          padding-left: 10px;
        }
        .content {
          justify-content: space-around;
          margin: 0;
          .post-item {
            padding: 0 5px;
            .d-info {
              justify-content: space-between;
              .p-preview .link-detail:after {
                display: none;
              }
            }
          }
        }
        #btn-bottom .load-more {
          color: #98592E;
          background-color: #FBE5D6;
          background-image: none;
          border-color: #BFBFBF;
          padding: 6px 30px;
          position: relative;
          font-weight: bold;
        }
      }
    }
  }
  .container-fluid main {
    .content-header .release-name {
      font-size: 1.5rem;
    }
    .release-description {
      padding: 15px;
      font-size: 0.9rem;
    }
    .content {
      padding: 15px 0;
    }
  }
  .container-fluid footer .footer {
    font-size: 0.9rem;
  }
  .release-number {
    .content {
      background: #F2F2F2;
      .block-pay {
        margin: 0 auto;
      }
      .d-info {
        background: #ffffff !important;
      }
      .bottom {
        margin: 0 auto !important;
        padding: 20px;
        text-align: center;
        a.load-more {
          color: #A66C45;
          background-color: #FBE5D6;
          font-weight: bold;
        }
      }
    }
  }
  .category {
    #content-posts {
      background: #F2F2F2;
      .h-meta {
        font-size: 1.25rem;
        background: #ffffff;
        display: inline-block;
        padding: 10px;
        margin: 15px 0 0 15px;
      }
      .content {
        background: #F2F2F2;
        .d-info {
          background: #ffffff !important;
        }
      }
      .bottom {
        margin: 0 auto !important;
        padding: 20px;
        text-align: center;
        a.load-more {
          color: #A66C45;
          background-color: #FBE5D6;
          font-weight: bold;
        }
      }
    }
  }
  .article {
    #content-post {
      width: 100%;
      background: #F2F2F2;
      margin: 0 auto;
      padding: 10px 20px;
      .content {
        max-width: 100% !important;
        background: #ffffff;
        padding: 10px;
      }
      .post-title {
        max-width: 100% !important;
        background: #fff;
        padding: 10px;
        font-size: 1.5rem;
      }
    }
  }
  .p-preview {
    .link-detail {
      display: none;
    }
  }
}

@media (max-width: 425px) {
  .container-fluid main .block-posts .content .post-item .d-info .h-title a {
    font-size: 1rem;
  }
  .container-fluid header .header-top-right .user-auth {
    margin-right: 0px;
  }
  .container-fluid main {
    .content-header .release-name {
      font-size: 1.5rem;
    }
    .release-description {
      padding: 15px;
    }
    .content {
      padding: 15px;
    }
  }
  .container-fluid main #content-post {
    .post-title {
      font-size: 1.3rem !important;
    }
    .block-view {
      padding: 20px 0 !important;;
      .message {
        padding: 10px !important;;
        font-size: 0.8rem !important;;
      }
    }
  }
}

@media (max-width: 320px) {
  .header {
    .header-middle-mobile {
      padding: 0 10px;
      .logo {
        font-size: 1rem;
      }
    }
  }
  .container {
    max-width: 100%;
    #slideHome {
      &.show-mb {
        .carousel-item {
          .info {
            .name {
              a {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
    #content-latest-posts {
      .content .top-1 .d-info .h-title a {
        font-size: 1.4rem;
      }
    }
  }
  .container-fluid main .content-header .release-name {
    font-size: 1.3rem;
  }
  .container-fluid main #content-post .post-title {
    font-size: 1.2rem !important;
  }
  .container-fluid main #content-post .post-meta {
    font-size: 0.9rem;
    flex-wrap: wrap;
    width: 100%;
    background: #fff;
    .author {
      padding: 0;
      font-size: 0.9rem;
    }
    .created_at {
      padding: 0;
    }
  }
}

@media (min-width: 375px) {
  .header {
    .header-middle-mobile {
      padding: 0 10px;
      .logo {
        font-size: 1.1rem;
      }
    }
  }
  #slideHome {
    &.show-mb {
      .carousel-item {
        .info {
          .name {
            a {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
  #content-latest-posts {
    .content .top-1 .d-info .h-title a {
      font-size: 1.4rem;
    }
  }
  .container-fluid main #content-post .post-title {
    font-size: 1.1rem !important;
  }
  .container-fluid main #content-post .post-meta {
    font-size: 0.9rem;
    flex-wrap: wrap;
    width: 100%;
    background: #fff;
    .author {
      padding: 0;
      font-size: 0.9rem;
    }
    .created_at {
      padding: 0;
    }
  }
}

@media (min-width: 425px) {
  #content-latest-posts {
    .content .top-1 .d-info .h-title a {
      font-size: 1.4rem;
    }
  }
  .container-fluid main #content-post .post-meta {
    font-size: 0.9rem;
    flex-wrap: wrap;
    width: 100%;
    background: #fff;
    .author {
      padding: 0;
      font-size: 0.9rem;
    }
    .created_at {
      padding: 0;
    }
  }
}

@media (min-width: 576px) {
  #slideHome {
    &.show-mb {
      .carousel-item {
        .info {
          .name {
            a {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 769px) {
  .container {
    max-width: 766px;
    .category-top, .category-global {
      height: 40px;
      line-height: 40px;
    }
  }
  .header {
    .search-box {
      input[type='search'] {
        border-radius: 0;
      }
      .btn-submit {
        border-radius: 0;
      }
    }
    .header-middle-mobile {
      .logo {
        font-size: 1.5rem;
      }
      .search-box {
        .form-inline {
          flex-wrap: nowrap;
        }
      }
      .resize-box {
        .show-pc {
          display: inline-block;
        }
        .show-mb {
          display: none;
        }
      }
    }
    .header-menu-mobile {
      display: none;
    }
  }
  .header {
    .header-middle {
      .search-box {
        input[type='search'] {
          min-width: 200px;
        }
        .btn-submit {
          min-width: 70px;
        }
      }
      .resize-box {
        padding: 0 !important;
        p {
          display: none;
        }
      }
    }
    .header-menu {
      .nav {
        .nav-item {
          .nav-link {
            padding: 0 10px;
            &:hover:not(.active) {
              &::before {
                width: calc(100% - 10px);
              }
            }
          }
          &.dropdown {
            .nav-link {
              &::after {
                display: none;
              }
            }
          }
          &::after {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .header {
    .header-middle {
      .search-box {
        input[type='search'] {
          min-width: 310px;
        }
        .btn-submit {
          min-width: 90px;
        }
      }
      .resize-box {
        padding: 0 20px;
        p {
          display: inline;
          padding-left: 13px;
        }
      }
    }
    .header-menu {
      .nav {
        .nav-item {
          .nav-link {
            padding-left: 0;
            padding-right: 32px;
            &:hover:not(.active) {
              &::before {
                width: calc(100% - 32px);
              }
            }
          }
          &.dropdown {
            .nav-link {
              &::after {
                display: inline-block;
              }
            }
          }
          &::after {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .container {
    max-width: 990px;
  }
  .header {
    .header-middle {
      .search-box {
        input[type='search'] {
          min-width: 310px;
        }
        .btn-submit {
          min-width: 90px;
        }
      }
      .resize-box {
        padding: 0 20px !important;
        p {
          display: inline;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1500px) {
  .container {
    max-width: 1440px;
  }
}