/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  line-height: 1;
  margin: 0 auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'メイリオ', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

a {
  text-decoration: none;
  color: #000;

}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

*:focus {
  outline: none;
  box-shadow: unset;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container-fluid {
  padding: 0;
  header {
    .header {
      &-top {
        margin-bottom: 0;
        height: 36px;
        background: #A6A6A6;
        &-right {
          height: 100%;
          line-height: 36px;

          .user-auth {
            margin-right: 20px;
            li {
              margin: 0 10px;
              cursor: pointer;
              a {
                color: #fff;
                font-size: 1rem;
                &:hover {
                  text-decoration: none;
                  border-bottom: 1.5px solid #fff;
                  padding-bottom: 3px;
                }
              }

              &.register {
                position: relative;

                &:after {
                  content: '|';
                  position: absolute;
                  right: -11px;
                  color: #fff;
                  font-weight: bold;
                }
              }
              &.name {
                -webkit-user-select: none; /* Safari 3.1+ */
                -moz-user-select: none; /* Firefox 2+ */
                -ms-user-select: none; /* IE 10+ */
                user-select: none; /* Standard syntax */
                color: #fff;
                span {
                  cursor: pointer;
                }
              }
              &.logout {
                margin: 0;
                height: 30px;
                &:hover {
                  text-decoration: none;
                  border-bottom: 1.5px solid #fff;
                  padding-bottom: 3px;
                }
              }
            }
          }
        }
      }
      &-middle {
        justify-content: space-between;
        align-items: center;
        height: 70px;
        .logo {
          font-weight: bold;
          color: #7F7F7F;
          -webkit-user-select: none; /* Safari 3.1+ */
          -moz-user-select: none; /* Firefox 2+ */
          -ms-user-select: none; /* IE 10+ */
          user-select: none; /* Standard syntax */
          a {
            color: #7F7F7F;
          }
          &:hover {
            a {
              text-decoration: none;
              color: #6b6b6b;
            }
          }
        }
        .search-box {
          input[type='search'] {
            //min-width: 310px;
            //border-radius: 0;
            border-color: #ED7D31;
            margin-right: 0 !important;
            &:focus {
              color: #495057;
              outline: 0;
              box-shadow: unset !important;
            }
          }
          .btn-submit {
            //min-width: 90px;
            width: auto;
            background: #ED7D31;
            //border-radius: 0;
            color: #ffffff;
            &:focus {
              outline: 0;
              box-shadow: unset !important;
            }
          }
        }
        .resize-box {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #F2F2F2;
          padding: 0 20px;
          height: 38px;
          p {
            padding-right: 25px;
            font-size: 1.1rem;
            color: #696969;
          }
          .btn-group {
            .btn-secondary {
              border-radius: 0;
              background: #FFFFFF;
              margin: 0 5px;
              width: 35px;
              height: 30px;
              padding: 2px 0;
              color: #7b7b7b;
              &.active {
                background: #dbf5ff;;
                color: #252525;
              }
              &.focus {
                box-shadow: unset !important;
              }
            }
            .label-fontsize {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
      &-menu {
        .category-top::before {
          content: '';
          position: absolute;
          background-color: #F2F2F2;
          width: 100%;
          height: 40px;
          left: 0;
          z-index: -1;
        }
        .category-global::after {
          content: '';
          position: absolute;
          width: 100%;
          left: 0;
          z-index: -1;
          border-bottom: 1.5px solid #969696;
        }
        .category-top, .category-global {
          //  height: 40px;
          //  line-height: 40px;
          .nav {
            .nav-item {
              .nav-link {
                //padding-left: 0;
                //padding-right: 32px;
                color: #5d5959;
                &.active {
                  color: #ED7D31;
                  cursor: default;
                }
                &:hover:not(.active) {
                  position: relative;
                  &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 2px;
                    border-bottom: 2px solid #969292;
                    //width: calc(100% - 32px);
                  }
                }
              }
              &:not(:first-child) {
                position: relative;
                &::after {
                  content: '|';
                  position: absolute;
                  left: -20px;
                  top: 0;
                  font-weight: bold;
                  color: #9e9e9e;
                }
              }
              .dropdown-menu {
                margin-top: 0 !important;
                border-radius: 0;
              }
              &.dropdown {
                .nav-link {
                  &::after {
                    //display: inline-block;
                    width: 0;
                    height: 0;
                    margin-left: .255em;
                    vertical-align: .255em;
                    content: "";
                    border-top: .3em solid;
                    border-right: .3em solid transparent;
                    border-bottom: 0;
                    border-left: .3em solid transparent;
                    visibility: hidden;
                  }
                  &:hover {
                    &::after {
                      visibility: visible;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    .footer {
      margin-bottom: 0;
      height: 80px;
      background: #7F7F7F;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        color: #fff;
        a {
          text-decoration: underline;
          color: #0563C1;
          &:hover {
            //font-weight: bold;
          }
        }
      }
    }
  }
  main {
    margin: 15px auto;
    min-height: 68vh;
    .carousel.slide {
      background-color: #F2F2F2;
      .carousel-inner {
        .carousel-item {
          height: 410px;
          .row {
            height: 100%;
            margin: 0;
            .col {
              height: 100%;
            }
            .col.info {
              padding: 10px 0 10px 15px;
              .meta {
                text-decoration: underline;
                font-weight: bold;
              }
              .name {
                text-align: left;
                margin: 15px auto;
                padding-left: 25px;
                a {
                  color: #636363f7;
                  font-size: 1.4rem;
                  font-weight: bold;
                  &:hover {
                    text-decoration: none;
                    color: #2775c7f7;
                  }
                }
              }
              .description {
                margin-left: 30px;
                text-align: left;
                max-height: 60%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 11;
                -webkit-box-orient: vertical;
                .description-content {
                  background: #fff;
                  padding: 10px;
                  font-size: 1rem;
                  line-height: 20px;
                  text-align: left;
                }
              }
              .control {
                position: absolute;
                bottom: 20px;
                left: 52px;
                .btn-next {
                  min-width: 80px;
                  cursor: pointer;
                  height: 30px;
                  position: relative;
                  line-height: 2.5em;
                  padding: 0 1em;
                  text-align: center;
                  font-weight: bold;
                  background: #D9D9D9;
                  border: 1px solid #525252;
                  color: #525252;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 1.3rem;
                  &:after {
                    content: "";
                    position: absolute;
                    height: 21.2132px;
                    width: 21.2132px;
                    transform: rotate(45deg);
                    top: 3.5px;
                    right: -12px;
                    background-color: #D9D9D9;
                    border-top: 1px solid #525252;
                    border-right: 1px solid #525252;
                  }
                  &:hover {
                    text-decoration: none;
                    background: #f2f9cf;
                    &:after {
                      background: #f2f9cf;
                    }
                  }
                }
              }

            }
            .image {
              padding-right: 0;
              img {
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
    .latest-posts {
      margin: 20px 0;
      h2 {
        color: #444444;
        font-weight: bold;
        font-size: 1.25rem;
      }
      .content {
        height: 415px;
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        .item {
          position: relative;
          &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            display: block;
            content: '';
            width: 0;
            height: 0;
            background: rgba(255, 255, 255, .2);
            border-radius: 100%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            opacity: 0;
          }
          &:hover::before {
            -webkit-animation: circle .45s;
            animation: circle .45s;
          }
        }
        .top-1 {
          padding-left: 0;
          width: 34%;
          height: 100%;
          position: relative;
          img {
            height: 100%;
          }
          &:hover {
            .post-img {
              opacity: 1;
            }
          }
          .d-info {
            background-color: unset;
            max-width: 100%;
            text-align: left;
            .h-title a {
              font-size: 1.7rem;
              color: white;
              text-shadow: 2px 2px #40404042;
            }
            .p-created {
              color: white;
              font-size: 1rem;
            }
          }
        }
        .top-234 {
          width: 66%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          padding-left: 7px;
          .row {
            margin: 0;
            img {
              height: 99%;
            }
          }
          .top-2 {
            height: 206px;
            position: relative;
            &:hover {
              .post-img {
                opacity: 1;
              }
            }
            .d-info {
              .h-title a {
                font-size: 1.438rem;
              }
              .p-created {
              }
            }
          }
          .top-34 {
            height: 50%;
            display: flex;
            align-items: flex-end;
            .top-3, .top-4 {
              padding: 0;
              height: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: flex-end;
              position: relative;
              &:hover {
                .post-img {
                  opacity: 1;
                }
              }
              .d-info {
                .h-title a {
                  font-size: 1.188rem;
                }
                .p-created {
                }
              }
            }
            .top-3 {
              padding-right: 4px;
            }
            .top-4 {
              padding-left: 4px;
            }
          }
        }
        .post-img {
          opacity: 0.9;
          position: relative;
        }
        .d-info {
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: #FFFFFF;
          padding: 10px 25px 10px 10px;
          opacity: 0.95;
          max-width: 60%;
          .h-title a {
            font-weight: bold;
            text-transform: uppercase;
            padding: 5px 0;
            color: #5a626b;
            &:hover {
              text-decoration: none;
            }
          }
          .p-created {
            padding: 5px 0;
            text-transform: uppercase;
            font-size: 0.8rem;
            color: #6f6f6f;
          }
        }
      }
    }
    #content-posts {
      h2 {
        color: #444444;
        font-weight: bold;
        font-size: 1.25rem;
      }
      .content {
        margin: 7px 0 0;
        justify-content: space-between;
        .post-item {
          margin: 7px 0;
          display: flex;
          flex-direction: column;
          max-width: 49%;
          padding: 0;
          .post-img {
            height: 263px;
          }
          .d-info {
            min-height: 75px;
            background: #F2F2F2;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 0 20px 10px 20px;
            flex-grow: 1;
            .h-title {
              padding: 10px 0;
              a {
                font-size: 1.188rem;
                text-transform: uppercase;
                font-weight: bold;
                text-align: justify;
                color: #585858;
                &:hover {
                  text-decoration: none;
                }
              }
            }
            .p-preview {
              font-size: 0.938rem;
              position: relative;
              width: 95%;
              p {
                word-wrap: break-word;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .link-detail {
                position: absolute;
                top: 0px;
                right: -15px;
                width: 30px;
                height: 20px;
                &:after {
                  content: '';
                  background: url(../../images/btn-arrow.png) no-repeat;
                  width: 20px;
                  height: 19px;
                  background-size: contain;
                  z-index: 1;
                  opacity: 0.7;
                  top: 0;
                  right: 0;
                  position: absolute;
                }
                &:hover {
                  transform: translateX(5px);
                  transition: all 0.5s;
                }
              }
            }

          }
        }
        .block-pay {
          padding: 10px 20px;
          border: 1px solid #7db4e4;
          border-radius: 7px;
          background: #DEEBF7;
          color: #6d6d6d;
          font-weight: bold;
          cursor: pointer;
          -webkit-user-select: none; /* Safari 3.1+ */
          -moz-user-select: none; /* Firefox 2+ */
          -ms-user-select: none; /* IE 10+ */
          user-select: none; /* Standard syntax */
        }
      }
      .bottom {
        margin: 20px auto;
        text-align: center;
        .load-more {
          color: #6c757d;
          background-color: #F2F2F2;
          background-image: none;
          border-color: #b5bec5;
          padding: 6px 30px;
          position: relative;
          &:focus {
            box-shadow: unset;
          }
          &:hover {
            color: #fff;
            background-color: #6c757d;
            border-color: #6c757d;
          }
          &.loading {
            &::after {
              content: '';
              position: absolute;
              top: 0;
              right: -45px;
              background: url("../../images/loading.gif") no-repeat;
              background-size: contain;
              width: 38px;
              height: 38px;
            }
          }
          &-rn {
            color: #b34a02;
            background-color: #FBE5D6;
            font-weight: bold;
            border-color: #4a6982;
            &:hover {
              background-color: #b55b1e;
            }
          }
        }
      }
    }
    #content-post {
      .post-title {
        font-size: 1.7rem;
        text-transform: capitalize;
        max-width: 80%;
        margin: 20px 0;
        font-weight: bold;
      }
      .content {
        margin-top: 7px;
        max-width: 80%;
        img {
          max-width: 98%;
          margin: 0 auto;
        }
        .block-view {
          text-align: center;
          margin: 20px 0;
          padding: 40px 0;
          background-color: #F2A46E;
          border: 1px solid #095cb1;
          .message {
            display: inline-block;
            padding: 15px;
            border: 1px solid #095cb1;
            margin: 0 auto;
            background: #DEEBF7;
            font-weight: bold;
          }
        }
      }
      .post-meta {
        display: flex;
        margin: 20px 0;
        border: 1px solid #696969;
        width: 60%;
        padding: 10px 5px;
        font-weight: bold;
        span {
          font-weight: 200;
        }
        .author {
          padding: 0 20px 0 15px;
        }
        .created_at {
          padding-left: 20px;
        }
      }
    }
    .content-header {
      margin: 0;
      max-height: 400px;
      position: relative;
      .release-img {
        max-height: 400px;
      }
      .release-name {
        padding: 15px 30px;
        position: absolute;
        bottom: 3px;
        left: 3px;
        background: #fff;
        font-size: 2rem;
        font-weight: bold;
      }
    }
    .release-description {
      padding: 15px 0;
      font-size: 1rem;
      line-height: 1.1rem;
    }
  }
}

.post-img {
  object-fit: cover;
}

.modal {
  &#register-popup {
    .modal-header {
      background: #E2F0D9;
    }
    .modal-footer {
      padding: 25px;
      border: unset;
    }
  }
  &#login-popup {
    .modal-header {
      background: #DEEBF7;
    }
    .modal-footer {
      padding: 25px;
      border: unset;
    }
  }
  .modal-dialog {
    max-width: 50vw;
    .modal-content {
      border-radius: 0;
      .modal-header {
        align-items: center;
        padding: 10px;
        .modal-title {
          margin: 0 auto;
          font-size: 1.4rem;
        }
      }
      .modal-body {
        form {
          width: 95%;
          margin: 0 auto;
          input {
            box-shadow: unset !important;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
          }
          span.input-group-append {
            //display: none;
          }
          .invalid-feedback {
            display: block;
          }
        }
      }
      .modal-footer {
        justify-content: flex-start !important;
        .mod-btn-submit {
          background-color: #DEEBF7;
          border-color: #00539a;
          height: 35px;
          min-width: 80px;
          border-radius: 0;
          line-height: 20px;
          &:focus {
            box-shadow: unset !important;
          }
          &:hover {
            background-color: #65eaff;
          }
        }
        .mod-btn-cancel {
          background-color: #FFF2CC;
          height: 35px !important;
          min-width: 100px;
          border-radius: 0;
          border-color: #00539a;
          line-height: 20px;
          &:focus {
            box-shadow: unset !important;
          }
          &:hover {
            background-color: #fdd86b;
          }
        }

      }
      .custom-control {
        display: inline-block;
        padding-left: 0;
        padding-right: 24px;
        margin-right: 15px;
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none; /* Standard syntax */
        .custom-control-label {
          &:before {
            right: 0;
            left: unset;
            border: 1px solid #989898;
          }
          &:after {
            right: 0;
            left: unset;
            background-image: unset;
          }
        }
        .custom-control-input:checked ~ .custom-control-label::before {
          background-color: #000000;
          color: #000;
          box-shadow: unset !important;
        }
      }
    }
    .btn-close-popup {
      border: 1px solid #00539a;
      border-radius: 0;
      margin: 0;
      font-size: 1.2rem;
      padding: 8px 17px;
      background-color: #FBE5D6;
      opacity: 1;
      color: #252424;
      font-weight: 500;
      text-shadow: unset;
      &:hover {
        background-color: #ffb380;
      }
    }
    #login-fail {
      display: none;
      margin: 0 auto;
      width: 95%;
      text-align: center;

    }
    #Loading, #registerLoading {
      position: relative;
      &.loading {
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 50%;
          background: url(../../images/loading.gif) no-repeat;
          background-size: contain;
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

@import "responsive";