@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

*::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 15px; }

body {
  line-height: 1;
  margin: 0 auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'メイリオ', sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

a {
  text-decoration: none;
  color: #000; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

*:focus {
  outline: none;
  box-shadow: unset; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

.container-fluid {
  padding: 0; }
  .container-fluid header .header-top {
    margin-bottom: 0;
    height: 36px;
    background: #A6A6A6; }
    .container-fluid header .header-top-right {
      height: 100%;
      line-height: 36px; }
      .container-fluid header .header-top-right .user-auth {
        margin-right: 20px; }
        .container-fluid header .header-top-right .user-auth li {
          margin: 0 10px;
          cursor: pointer; }
          .container-fluid header .header-top-right .user-auth li a {
            color: #fff;
            font-size: 1rem; }
            .container-fluid header .header-top-right .user-auth li a:hover {
              text-decoration: none;
              border-bottom: 1.5px solid #fff;
              padding-bottom: 3px; }
          .container-fluid header .header-top-right .user-auth li.register {
            position: relative; }
            .container-fluid header .header-top-right .user-auth li.register:after {
              content: '|';
              position: absolute;
              right: -11px;
              color: #fff;
              font-weight: bold; }
          .container-fluid header .header-top-right .user-auth li.name {
            -webkit-user-select: none;
            /* Safari 3.1+ */
            -moz-user-select: none;
            /* Firefox 2+ */
            -ms-user-select: none;
            /* IE 10+ */
            user-select: none;
            /* Standard syntax */
            color: #fff; }
            .container-fluid header .header-top-right .user-auth li.name span {
              cursor: pointer; }
          .container-fluid header .header-top-right .user-auth li.logout {
            margin: 0;
            height: 30px; }
            .container-fluid header .header-top-right .user-auth li.logout:hover {
              text-decoration: none;
              border-bottom: 1.5px solid #fff;
              padding-bottom: 3px; }
  .container-fluid header .header-middle {
    justify-content: space-between;
    align-items: center;
    height: 70px; }
    .container-fluid header .header-middle .logo {
      font-weight: bold;
      color: #7F7F7F;
      -webkit-user-select: none;
      /* Safari 3.1+ */
      -moz-user-select: none;
      /* Firefox 2+ */
      -ms-user-select: none;
      /* IE 10+ */
      user-select: none;
      /* Standard syntax */ }
      .container-fluid header .header-middle .logo a {
        color: #7F7F7F; }
      .container-fluid header .header-middle .logo:hover a {
        text-decoration: none;
        color: #6b6b6b; }
    .container-fluid header .header-middle .search-box input[type='search'] {
      border-color: #ED7D31;
      margin-right: 0 !important; }
      .container-fluid header .header-middle .search-box input[type='search']:focus {
        color: #495057;
        outline: 0;
        box-shadow: unset !important; }
    .container-fluid header .header-middle .search-box .btn-submit {
      width: auto;
      background: #ED7D31;
      color: #ffffff; }
      .container-fluid header .header-middle .search-box .btn-submit:focus {
        outline: 0;
        box-shadow: unset !important; }
    .container-fluid header .header-middle .resize-box {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #F2F2F2;
      padding: 0 20px;
      height: 38px; }
      .container-fluid header .header-middle .resize-box p {
        padding-right: 25px;
        font-size: 1.1rem;
        color: #696969; }
      .container-fluid header .header-middle .resize-box .btn-group .btn-secondary {
        border-radius: 0;
        background: #FFFFFF;
        margin: 0 5px;
        width: 35px;
        height: 30px;
        padding: 2px 0;
        color: #7b7b7b; }
        .container-fluid header .header-middle .resize-box .btn-group .btn-secondary.active {
          background: #dbf5ff;
          color: #252525; }
        .container-fluid header .header-middle .resize-box .btn-group .btn-secondary.focus {
          box-shadow: unset !important; }
      .container-fluid header .header-middle .resize-box .btn-group .label-fontsize {
        display: flex;
        justify-content: center;
        align-items: center; }
  .container-fluid header .header-menu .category-top::before {
    content: '';
    position: absolute;
    background-color: #F2F2F2;
    width: 100%;
    height: 40px;
    left: 0;
    z-index: -1; }
  .container-fluid header .header-menu .category-global::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
    border-bottom: 1.5px solid #969696; }
  .container-fluid header .header-menu .category-top .nav .nav-item .nav-link, .container-fluid header .header-menu .category-global .nav .nav-item .nav-link {
    color: #5d5959; }
    .container-fluid header .header-menu .category-top .nav .nav-item .nav-link.active, .container-fluid header .header-menu .category-global .nav .nav-item .nav-link.active {
      color: #ED7D31;
      cursor: default; }
    .container-fluid header .header-menu .category-top .nav .nav-item .nav-link:hover:not(.active), .container-fluid header .header-menu .category-global .nav .nav-item .nav-link:hover:not(.active) {
      position: relative; }
      .container-fluid header .header-menu .category-top .nav .nav-item .nav-link:hover:not(.active)::before, .container-fluid header .header-menu .category-global .nav .nav-item .nav-link:hover:not(.active)::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 2px;
        border-bottom: 2px solid #969292; }
  .container-fluid header .header-menu .category-top .nav .nav-item:not(:first-child), .container-fluid header .header-menu .category-global .nav .nav-item:not(:first-child) {
    position: relative; }
    .container-fluid header .header-menu .category-top .nav .nav-item:not(:first-child)::after, .container-fluid header .header-menu .category-global .nav .nav-item:not(:first-child)::after {
      content: '|';
      position: absolute;
      left: -20px;
      top: 0;
      font-weight: bold;
      color: #9e9e9e; }
  .container-fluid header .header-menu .category-top .nav .nav-item .dropdown-menu, .container-fluid header .header-menu .category-global .nav .nav-item .dropdown-menu {
    margin-top: 0 !important;
    border-radius: 0; }
  .container-fluid header .header-menu .category-top .nav .nav-item.dropdown .nav-link::after, .container-fluid header .header-menu .category-global .nav .nav-item.dropdown .nav-link::after {
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    visibility: hidden; }
  .container-fluid header .header-menu .category-top .nav .nav-item.dropdown .nav-link:hover::after, .container-fluid header .header-menu .category-global .nav .nav-item.dropdown .nav-link:hover::after {
    visibility: visible; }
  .container-fluid footer .footer {
    margin-bottom: 0;
    height: 80px;
    background: #7F7F7F;
    display: flex;
    justify-content: center;
    align-items: center; }
    .container-fluid footer .footer p {
      color: #fff; }
      .container-fluid footer .footer p a {
        text-decoration: underline;
        color: #0563C1; }
  .container-fluid main {
    margin: 15px auto;
    min-height: 68vh; }
    .container-fluid main .carousel.slide {
      background-color: #F2F2F2; }
      .container-fluid main .carousel.slide .carousel-inner .carousel-item {
        height: 410px; }
        .container-fluid main .carousel.slide .carousel-inner .carousel-item .row {
          height: 100%;
          margin: 0; }
          .container-fluid main .carousel.slide .carousel-inner .carousel-item .row .col {
            height: 100%; }
          .container-fluid main .carousel.slide .carousel-inner .carousel-item .row .col.info {
            padding: 10px 0 10px 15px; }
            .container-fluid main .carousel.slide .carousel-inner .carousel-item .row .col.info .meta {
              text-decoration: underline;
              font-weight: bold; }
            .container-fluid main .carousel.slide .carousel-inner .carousel-item .row .col.info .name {
              text-align: left;
              margin: 15px auto;
              padding-left: 25px; }
              .container-fluid main .carousel.slide .carousel-inner .carousel-item .row .col.info .name a {
                color: #636363f7;
                font-size: 1.4rem;
                font-weight: bold; }
                .container-fluid main .carousel.slide .carousel-inner .carousel-item .row .col.info .name a:hover {
                  text-decoration: none;
                  color: #2775c7f7; }
            .container-fluid main .carousel.slide .carousel-inner .carousel-item .row .col.info .description {
              margin-left: 30px;
              text-align: left;
              max-height: 60%;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 11;
              -webkit-box-orient: vertical; }
              .container-fluid main .carousel.slide .carousel-inner .carousel-item .row .col.info .description .description-content {
                background: #fff;
                padding: 10px;
                font-size: 1rem;
                line-height: 20px;
                text-align: left; }
            .container-fluid main .carousel.slide .carousel-inner .carousel-item .row .col.info .control {
              position: absolute;
              bottom: 20px;
              left: 52px; }
              .container-fluid main .carousel.slide .carousel-inner .carousel-item .row .col.info .control .btn-next {
                min-width: 80px;
                cursor: pointer;
                height: 30px;
                position: relative;
                line-height: 2.5em;
                padding: 0 1em;
                text-align: center;
                font-weight: bold;
                background: #D9D9D9;
                border: 1px solid #525252;
                color: #525252;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3rem; }
                .container-fluid main .carousel.slide .carousel-inner .carousel-item .row .col.info .control .btn-next:after {
                  content: "";
                  position: absolute;
                  height: 21.2132px;
                  width: 21.2132px;
                  transform: rotate(45deg);
                  top: 3.5px;
                  right: -12px;
                  background-color: #D9D9D9;
                  border-top: 1px solid #525252;
                  border-right: 1px solid #525252; }
                .container-fluid main .carousel.slide .carousel-inner .carousel-item .row .col.info .control .btn-next:hover {
                  text-decoration: none;
                  background: #f2f9cf; }
                  .container-fluid main .carousel.slide .carousel-inner .carousel-item .row .col.info .control .btn-next:hover:after {
                    background: #f2f9cf; }
          .container-fluid main .carousel.slide .carousel-inner .carousel-item .row .image {
            padding-right: 0; }
            .container-fluid main .carousel.slide .carousel-inner .carousel-item .row .image img {
              height: 100%;
              object-fit: cover; }
    .container-fluid main .latest-posts {
      margin: 20px 0; }
      .container-fluid main .latest-posts h2 {
        color: #444444;
        font-weight: bold;
        font-size: 1.25rem; }
      .container-fluid main .latest-posts .content {
        height: 415px;
        margin: 10px 0;
        display: flex;
        justify-content: space-between; }
        .container-fluid main .latest-posts .content .item {
          position: relative; }
          .container-fluid main .latest-posts .content .item::before {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            display: block;
            content: '';
            width: 0;
            height: 0;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 100%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            opacity: 0; }
          .container-fluid main .latest-posts .content .item:hover::before {
            -webkit-animation: circle .45s;
            animation: circle .45s; }
        .container-fluid main .latest-posts .content .top-1 {
          padding-left: 0;
          width: 34%;
          height: 100%;
          position: relative; }
          .container-fluid main .latest-posts .content .top-1 img {
            height: 100%; }
          .container-fluid main .latest-posts .content .top-1:hover .post-img {
            opacity: 1; }
          .container-fluid main .latest-posts .content .top-1 .d-info {
            background-color: unset;
            max-width: 100%;
            text-align: left; }
            .container-fluid main .latest-posts .content .top-1 .d-info .h-title a {
              font-size: 1.7rem;
              color: white;
              text-shadow: 2px 2px #40404042; }
            .container-fluid main .latest-posts .content .top-1 .d-info .p-created {
              color: white;
              font-size: 1rem; }
        .container-fluid main .latest-posts .content .top-234 {
          width: 66%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          padding-left: 7px; }
          .container-fluid main .latest-posts .content .top-234 .row {
            margin: 0; }
            .container-fluid main .latest-posts .content .top-234 .row img {
              height: 99%; }
          .container-fluid main .latest-posts .content .top-234 .top-2 {
            height: 206px;
            position: relative; }
            .container-fluid main .latest-posts .content .top-234 .top-2:hover .post-img {
              opacity: 1; }
            .container-fluid main .latest-posts .content .top-234 .top-2 .d-info .h-title a {
              font-size: 1.438rem; }
          .container-fluid main .latest-posts .content .top-234 .top-34 {
            height: 50%;
            display: flex;
            align-items: flex-end; }
            .container-fluid main .latest-posts .content .top-234 .top-34 .top-3, .container-fluid main .latest-posts .content .top-234 .top-34 .top-4 {
              padding: 0;
              height: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: flex-end;
              position: relative; }
              .container-fluid main .latest-posts .content .top-234 .top-34 .top-3:hover .post-img, .container-fluid main .latest-posts .content .top-234 .top-34 .top-4:hover .post-img {
                opacity: 1; }
              .container-fluid main .latest-posts .content .top-234 .top-34 .top-3 .d-info .h-title a, .container-fluid main .latest-posts .content .top-234 .top-34 .top-4 .d-info .h-title a {
                font-size: 1.188rem; }
            .container-fluid main .latest-posts .content .top-234 .top-34 .top-3 {
              padding-right: 4px; }
            .container-fluid main .latest-posts .content .top-234 .top-34 .top-4 {
              padding-left: 4px; }
        .container-fluid main .latest-posts .content .post-img {
          opacity: 0.9;
          position: relative; }
        .container-fluid main .latest-posts .content .d-info {
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: #FFFFFF;
          padding: 10px 25px 10px 10px;
          opacity: 0.95;
          max-width: 60%; }
          .container-fluid main .latest-posts .content .d-info .h-title a {
            font-weight: bold;
            text-transform: uppercase;
            padding: 5px 0;
            color: #5a626b; }
            .container-fluid main .latest-posts .content .d-info .h-title a:hover {
              text-decoration: none; }
          .container-fluid main .latest-posts .content .d-info .p-created {
            padding: 5px 0;
            text-transform: uppercase;
            font-size: 0.8rem;
            color: #6f6f6f; }
    .container-fluid main #content-posts h2 {
      color: #444444;
      font-weight: bold;
      font-size: 1.25rem; }
    .container-fluid main #content-posts .content {
      margin: 7px 0 0;
      justify-content: space-between; }
      .container-fluid main #content-posts .content .post-item {
        margin: 7px 0;
        display: flex;
        flex-direction: column;
        max-width: 49%;
        padding: 0; }
        .container-fluid main #content-posts .content .post-item .post-img {
          height: 263px; }
        .container-fluid main #content-posts .content .post-item .d-info {
          min-height: 75px;
          background: #F2F2F2;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding: 0 20px 10px 20px;
          flex-grow: 1; }
          .container-fluid main #content-posts .content .post-item .d-info .h-title {
            padding: 10px 0; }
            .container-fluid main #content-posts .content .post-item .d-info .h-title a {
              font-size: 1.188rem;
              text-transform: uppercase;
              font-weight: bold;
              text-align: justify;
              color: #585858; }
              .container-fluid main #content-posts .content .post-item .d-info .h-title a:hover {
                text-decoration: none; }
          .container-fluid main #content-posts .content .post-item .d-info .p-preview {
            font-size: 0.938rem;
            position: relative;
            width: 95%; }
            .container-fluid main #content-posts .content .post-item .d-info .p-preview p {
              word-wrap: break-word;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis; }
            .container-fluid main #content-posts .content .post-item .d-info .p-preview .link-detail {
              position: absolute;
              top: 0px;
              right: -15px;
              width: 30px;
              height: 20px; }
              .container-fluid main #content-posts .content .post-item .d-info .p-preview .link-detail:after {
                content: '';
                background: url(../../images/btn-arrow.png) no-repeat;
                width: 20px;
                height: 19px;
                background-size: contain;
                z-index: 1;
                opacity: 0.7;
                top: 0;
                right: 0;
                position: absolute; }
              .container-fluid main #content-posts .content .post-item .d-info .p-preview .link-detail:hover {
                transform: translateX(5px);
                transition: all 0.5s; }
      .container-fluid main #content-posts .content .block-pay {
        padding: 10px 20px;
        border: 1px solid #7db4e4;
        border-radius: 7px;
        background: #DEEBF7;
        color: #6d6d6d;
        font-weight: bold;
        cursor: pointer;
        -webkit-user-select: none;
        /* Safari 3.1+ */
        -moz-user-select: none;
        /* Firefox 2+ */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none;
        /* Standard syntax */ }
    .container-fluid main #content-posts .bottom {
      margin: 20px auto;
      text-align: center; }
      .container-fluid main #content-posts .bottom .load-more {
        color: #6c757d;
        background-color: #F2F2F2;
        background-image: none;
        border-color: #b5bec5;
        padding: 6px 30px;
        position: relative; }
        .container-fluid main #content-posts .bottom .load-more:focus {
          box-shadow: unset; }
        .container-fluid main #content-posts .bottom .load-more:hover {
          color: #fff;
          background-color: #6c757d;
          border-color: #6c757d; }
        .container-fluid main #content-posts .bottom .load-more.loading::after {
          content: '';
          position: absolute;
          top: 0;
          right: -45px;
          background: url("../../images/loading.gif") no-repeat;
          background-size: contain;
          width: 38px;
          height: 38px; }
        .container-fluid main #content-posts .bottom .load-more-rn {
          color: #b34a02;
          background-color: #FBE5D6;
          font-weight: bold;
          border-color: #4a6982; }
          .container-fluid main #content-posts .bottom .load-more-rn:hover {
            background-color: #b55b1e; }
    .container-fluid main #content-post .post-title {
      font-size: 1.7rem;
      text-transform: capitalize;
      max-width: 80%;
      margin: 20px 0;
      font-weight: bold; }
    .container-fluid main #content-post .content {
      margin-top: 7px;
      max-width: 80%; }
      .container-fluid main #content-post .content img {
        max-width: 98%;
        margin: 0 auto; }
      .container-fluid main #content-post .content .block-view {
        text-align: center;
        margin: 20px 0;
        padding: 40px 0;
        background-color: #F2A46E;
        border: 1px solid #095cb1; }
        .container-fluid main #content-post .content .block-view .message {
          display: inline-block;
          padding: 15px;
          border: 1px solid #095cb1;
          margin: 0 auto;
          background: #DEEBF7;
          font-weight: bold; }
    .container-fluid main #content-post .post-meta {
      display: flex;
      margin: 20px 0;
      border: 1px solid #696969;
      width: 60%;
      padding: 10px 5px;
      font-weight: bold; }
      .container-fluid main #content-post .post-meta span {
        font-weight: 200; }
      .container-fluid main #content-post .post-meta .author {
        padding: 0 20px 0 15px; }
      .container-fluid main #content-post .post-meta .created_at {
        padding-left: 20px; }
    .container-fluid main .content-header {
      margin: 0;
      max-height: 400px;
      position: relative; }
      .container-fluid main .content-header .release-img {
        max-height: 400px; }
      .container-fluid main .content-header .release-name {
        padding: 15px 30px;
        position: absolute;
        bottom: 3px;
        left: 3px;
        background: #fff;
        font-size: 2rem;
        font-weight: bold; }
    .container-fluid main .release-description {
      padding: 15px 0;
      font-size: 1rem;
      line-height: 1.1rem; }

.post-img {
  object-fit: cover; }

.modal#register-popup .modal-header {
  background: #E2F0D9; }
.modal#register-popup .modal-footer {
  padding: 25px;
  border: unset; }
.modal#login-popup .modal-header {
  background: #DEEBF7; }
.modal#login-popup .modal-footer {
  padding: 25px;
  border: unset; }
.modal .modal-dialog {
  max-width: 50vw; }
  .modal .modal-dialog .modal-content {
    border-radius: 0; }
    .modal .modal-dialog .modal-content .modal-header {
      align-items: center;
      padding: 10px; }
      .modal .modal-dialog .modal-content .modal-header .modal-title {
        margin: 0 auto;
        font-size: 1.4rem; }
    .modal .modal-dialog .modal-content .modal-body form {
      width: 95%;
      margin: 0 auto; }
      .modal .modal-dialog .modal-content .modal-body form input {
        box-shadow: unset !important;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0; }
      .modal .modal-dialog .modal-content .modal-body form .invalid-feedback {
        display: block; }
    .modal .modal-dialog .modal-content .modal-footer {
      justify-content: flex-start !important; }
      .modal .modal-dialog .modal-content .modal-footer .mod-btn-submit {
        background-color: #DEEBF7;
        border-color: #00539a;
        height: 35px;
        min-width: 80px;
        border-radius: 0;
        line-height: 20px; }
        .modal .modal-dialog .modal-content .modal-footer .mod-btn-submit:focus {
          box-shadow: unset !important; }
        .modal .modal-dialog .modal-content .modal-footer .mod-btn-submit:hover {
          background-color: #65eaff; }
      .modal .modal-dialog .modal-content .modal-footer .mod-btn-cancel {
        background-color: #FFF2CC;
        height: 35px !important;
        min-width: 100px;
        border-radius: 0;
        border-color: #00539a;
        line-height: 20px; }
        .modal .modal-dialog .modal-content .modal-footer .mod-btn-cancel:focus {
          box-shadow: unset !important; }
        .modal .modal-dialog .modal-content .modal-footer .mod-btn-cancel:hover {
          background-color: #fdd86b; }
    .modal .modal-dialog .modal-content .custom-control {
      display: inline-block;
      padding-left: 0;
      padding-right: 24px;
      margin-right: 15px;
      -webkit-user-select: none;
      /* Safari 3.1+ */
      -moz-user-select: none;
      /* Firefox 2+ */
      -ms-user-select: none;
      /* IE 10+ */
      user-select: none;
      /* Standard syntax */ }
      .modal .modal-dialog .modal-content .custom-control .custom-control-label:before {
        right: 0;
        left: unset;
        border: 1px solid #989898; }
      .modal .modal-dialog .modal-content .custom-control .custom-control-label:after {
        right: 0;
        left: unset;
        background-image: unset; }
      .modal .modal-dialog .modal-content .custom-control .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #000000;
        color: #000;
        box-shadow: unset !important; }
  .modal .modal-dialog .btn-close-popup {
    border: 1px solid #00539a;
    border-radius: 0;
    margin: 0;
    font-size: 1.2rem;
    padding: 8px 17px;
    background-color: #FBE5D6;
    opacity: 1;
    color: #252424;
    font-weight: 500;
    text-shadow: unset; }
    .modal .modal-dialog .btn-close-popup:hover {
      background-color: #ffb380; }
  .modal .modal-dialog #login-fail {
    display: none;
    margin: 0 auto;
    width: 95%;
    text-align: center; }
  .modal .modal-dialog #Loading, .modal .modal-dialog #registerLoading {
    position: relative; }
    .modal .modal-dialog #Loading.loading::after, .modal .modal-dialog #registerLoading.loading::after {
      content: '';
      position: absolute;
      top: 0;
      right: 50%;
      background: url(../../images/loading.gif) no-repeat;
      background-size: contain;
      width: 60px;
      height: 60px; }

@-webkit-keyframes circle {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0; } }
@keyframes circle {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0; } }
@media (max-width: 768px) {
  .container-fluid main {
    margin: 0 auto; }

  .container {
    padding: 0;
    max-width: 100%; }

  .header .header-middle-mobile {
    padding: 0 10px; }
    .header .header-middle-mobile .logo {
      font-size: 1.5rem; }
    .header .header-middle-mobile .search-box .form-inline {
      flex-wrap: nowrap; }
      .header .header-middle-mobile .search-box .form-inline input[type='search'] {
        border-radius: 10px 0 0 10px; }
      .header .header-middle-mobile .search-box .form-inline .btn-submit {
        border-radius: 0 10px 10px 0; }
    .header .header-middle-mobile .resize-box {
      padding: 0 !important;
      background: #fff !important; }
      .header .header-middle-mobile .resize-box .show-pc {
        display: none; }
      .header .header-middle-mobile .resize-box .show-mb {
        position: relative;
        width: 30px;
        height: 100%;
        display: flex; }
        .header .header-middle-mobile .resize-box .show-mb .menubar {
          position: relative;
          height: 100%;
          width: 100%; }
          .header .header-middle-mobile .resize-box .show-mb .menubar:after {
            content: '';
            width: 30px;
            height: 30px;
            position: absolute;
            top: calc(50% - 15px);
            right: 0;
            opacity: 0.7;
            background: url(../../images/mobilebar.png) 0px 6px no-repeat;
            background-size: contain; }
          .header .header-middle-mobile .resize-box .show-mb .menubar.open:after {
            background: url(../../images/mobilebar-close.png) no-repeat;
            background-size: contain; }
  .header .header-menu {
    padding: 0; }
    .header .header-menu .category-global {
      display: none; }
    .header .header-menu .category-top {
      position: relative;
      z-index: 1;
      transform: translateX(-100%);
      transition: transform .5s;
      height: 0; }
      .header .header-menu .category-top::before {
        display: none; }
      .header .header-menu .category-top .nav {
        flex-direction: column;
        background: #FFFFFF;
        border: 1px solid #c1c1c1; }
        .header .header-menu .category-top .nav .nav-item {
          border-bottom: 1px solid #c1c1c1;
          background: #F2F2F2;
          padding: 10px 0;
          -webkit-user-select: none;
          /* Safari 3.1+ */
          -moz-user-select: none;
          /* Firefox 2+ */
          -ms-user-select: none;
          /* IE 10+ */
          user-select: none;
          /* Standard syntax */ }
          .header .header-menu .category-top .nav .nav-item:first-child {
            display: none; }
          .header .header-menu .category-top .nav .nav-item .nav-link {
            visibility: visible;
            padding: 0 10px;
            font-weight: bold; }
            .header .header-menu .category-top .nav .nav-item .nav-link:hover:not(.active)::before {
              display: none; }
          .header .header-menu .category-top .nav .nav-item .dropdown-menu {
            padding: 0; }
            .header .header-menu .category-top .nav .nav-item .dropdown-menu .dropdown-item {
              font-weight: bold;
              padding: 10px 0; }
          .header .header-menu .category-top .nav .nav-item .dropdown-menu.show-mb {
            display: flex;
            flex-direction: column;
            width: 100%;
            border-bottom: 1px solid #c1c1c1; }
            .header .header-menu .category-top .nav .nav-item .dropdown-menu.show-mb .dropdown-item {
              border-bottom: 1px solid #c1c1c1;
              text-align: center; }
          .header .header-menu .category-top .nav .nav-item.dropdown {
            position: relative; }
            .header .header-menu .category-top .nav .nav-item.dropdown .nav-link {
              display: inline-block; }
              .header .header-menu .category-top .nav .nav-item.dropdown .nav-link::after {
                display: none; }
            .header .header-menu .category-top .nav .nav-item.dropdown:before {
              content: '';
              position: absolute;
              top: 10px;
              right: 20px;
              background: url(../../images/arrow-solid.png) no-repeat;
              background-size: contain;
              width: 20px;
              height: 20px;
              opacity: 0.6;
              z-index: 3;
              cursor: pointer; }
            .header .header-menu .category-top .nav .nav-item.dropdown.show-mb:before {
              transform: rotate(180deg); }
      .header .header-menu .category-top.show {
        transform: translateX(0); }
        .header .header-menu .category-top.show::before {
          display: none; }

  #slideHome.show-mb .carousel-item {
    height: 300px; }
    #slideHome.show-mb .carousel-item .row {
      display: flex; }
      #slideHome.show-mb .carousel-item .row .info {
        position: absolute;
        bottom: 0;
        height: 55px;
        z-index: 1;
        max-width: 100%;
        padding: 0;
        border: 1px solid #41719C; }
        #slideHome.show-mb .carousel-item .row .info:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background: #FFFFFF;
          width: 100%;
          height: 100%;
          z-index: -1;
          opacity: 0.7; }
        #slideHome.show-mb .carousel-item .row .info .name {
          margin: 0;
          height: 55px;
          line-height: 55px; }
          #slideHome.show-mb .carousel-item .row .info .name a {
            color: #000;
            text-shadow: 1px -1px #fefff7; }
        #slideHome.show-mb .carousel-item .row .info .meta {
          display: none; }
        #slideHome.show-mb .carousel-item .row .info .description {
          display: none; }
        #slideHome.show-mb .carousel-item .row .info .control {
          position: absolute;
          bottom: 12.5px;
          right: 40px;
          left: unset; }
          #slideHome.show-mb .carousel-item .row .info .control .btn-next {
            background: #FBE5D6;
            border: 1.5px solid #7b7a7a;
            color: #843C0C; }
            #slideHome.show-mb .carousel-item .row .info .control .btn-next:after {
              background-color: #FBE5D6;
              border-top: 1.5px solid #7b7a7a;
              border-right: 1.5px solid #7b7a7a; }
      #slideHome.show-mb .carousel-item .row .image {
        width: 100%;
        max-width: 100%;
        padding: 0;
        height: 100%;
        max-height: 100%;
        position: absolute; }

  .modal .modal-dialog {
    max-width: 98vw;
    margin: auto; }

  #content-latest-posts.show-mb .h-meta {
    padding-left: 10px; }
  #content-latest-posts.show-mb .content {
    height: auto; }
    #content-latest-posts.show-mb .content .top-1 {
      width: 100%;
      height: 300px;
      margin-bottom: 10px; }
    #content-latest-posts.show-mb .content .top-234 {
      width: 100%;
      padding: 0; }
      #content-latest-posts.show-mb .content .top-234 .top-34 {
        height: 250px; }
      #content-latest-posts.show-mb .content .top-234 .top-2 {
        display: none; }
      #content-latest-posts.show-mb .content .top-234 .top-4 .d-info {
        left: 4px; }
      #content-latest-posts.show-mb .content .top-234 .h-title {
        font-size: 1.5rem; }
      #content-latest-posts.show-mb .content .top-234 .p-created {
        font-size: 1rem; }
      #content-latest-posts.show-mb .content .top-234 .d-info {
        max-width: 95%;
        border-bottom: 1px solid #696969;
        border-left: 1px solid #696969; }

  .block-posts #content-posts.show-mb .h-meta {
    padding-left: 10px; }
  .block-posts #content-posts.show-mb .content {
    justify-content: space-around;
    margin: 0; }
    .block-posts #content-posts.show-mb .content .post-item {
      padding: 0 5px; }
      .block-posts #content-posts.show-mb .content .post-item .d-info {
        justify-content: space-between; }
        .block-posts #content-posts.show-mb .content .post-item .d-info .p-preview .link-detail:after {
          display: none; }
  .block-posts #content-posts.show-mb #btn-bottom .load-more {
    color: #98592E;
    background-color: #FBE5D6;
    background-image: none;
    border-color: #BFBFBF;
    padding: 6px 30px;
    position: relative;
    font-weight: bold; }

  .container-fluid main .content-header .release-name {
    font-size: 1.5rem; }
  .container-fluid main .release-description {
    padding: 15px;
    font-size: 0.9rem; }
  .container-fluid main .content {
    padding: 15px 0; }

  .container-fluid footer .footer {
    font-size: 0.9rem; }

  .release-number .content {
    background: #F2F2F2; }
    .release-number .content .block-pay {
      margin: 0 auto; }
    .release-number .content .d-info {
      background: #ffffff !important; }
    .release-number .content .bottom {
      margin: 0 auto !important;
      padding: 20px;
      text-align: center; }
      .release-number .content .bottom a.load-more {
        color: #A66C45;
        background-color: #FBE5D6;
        font-weight: bold; }

  .category #content-posts {
    background: #F2F2F2; }
    .category #content-posts .h-meta {
      font-size: 1.25rem;
      background: #ffffff;
      display: inline-block;
      padding: 10px;
      margin: 15px 0 0 15px; }
    .category #content-posts .content {
      background: #F2F2F2; }
      .category #content-posts .content .d-info {
        background: #ffffff !important; }
    .category #content-posts .bottom {
      margin: 0 auto !important;
      padding: 20px;
      text-align: center; }
      .category #content-posts .bottom a.load-more {
        color: #A66C45;
        background-color: #FBE5D6;
        font-weight: bold; }

  .article #content-post {
    width: 100%;
    background: #F2F2F2;
    margin: 0 auto;
    padding: 10px 20px; }
    .article #content-post .content {
      max-width: 100% !important;
      background: #ffffff;
      padding: 10px; }
    .article #content-post .post-title {
      max-width: 100% !important;
      background: #fff;
      padding: 10px;
      font-size: 1.5rem; }

  .p-preview .link-detail {
    display: none; } }
@media (max-width: 425px) {
  .container-fluid main .block-posts .content .post-item .d-info .h-title a {
    font-size: 1rem; }

  .container-fluid header .header-top-right .user-auth {
    margin-right: 0px; }

  .container-fluid main .content-header .release-name {
    font-size: 1.5rem; }
  .container-fluid main .release-description {
    padding: 15px; }
  .container-fluid main .content {
    padding: 15px; }

  .container-fluid main #content-post .post-title {
    font-size: 1.3rem !important; }
  .container-fluid main #content-post .block-view {
    padding: 20px 0 !important; }
    .container-fluid main #content-post .block-view .message {
      padding: 10px !important;
      font-size: 0.8rem !important; } }
@media (max-width: 320px) {
  .header .header-middle-mobile {
    padding: 0 10px; }
    .header .header-middle-mobile .logo {
      font-size: 1rem; }

  .container {
    max-width: 100%; }
    .container #slideHome.show-mb .carousel-item .info .name a {
      font-size: 1rem; }
    .container #content-latest-posts .content .top-1 .d-info .h-title a {
      font-size: 1.4rem; }

  .container-fluid main .content-header .release-name {
    font-size: 1.3rem; }

  .container-fluid main #content-post .post-title {
    font-size: 1.2rem !important; }

  .container-fluid main #content-post .post-meta {
    font-size: 0.9rem;
    flex-wrap: wrap;
    width: 100%;
    background: #fff; }
    .container-fluid main #content-post .post-meta .author {
      padding: 0;
      font-size: 0.9rem; }
    .container-fluid main #content-post .post-meta .created_at {
      padding: 0; } }
@media (min-width: 375px) {
  .header .header-middle-mobile {
    padding: 0 10px; }
    .header .header-middle-mobile .logo {
      font-size: 1.1rem; }

  #slideHome.show-mb .carousel-item .info .name a {
    font-size: 1.3rem; }

  #content-latest-posts .content .top-1 .d-info .h-title a {
    font-size: 1.4rem; }

  .container-fluid main #content-post .post-title {
    font-size: 1.1rem !important; }

  .container-fluid main #content-post .post-meta {
    font-size: 0.9rem;
    flex-wrap: wrap;
    width: 100%;
    background: #fff; }
    .container-fluid main #content-post .post-meta .author {
      padding: 0;
      font-size: 0.9rem; }
    .container-fluid main #content-post .post-meta .created_at {
      padding: 0; } }
@media (min-width: 425px) {
  #content-latest-posts .content .top-1 .d-info .h-title a {
    font-size: 1.4rem; }

  .container-fluid main #content-post .post-meta {
    font-size: 0.9rem;
    flex-wrap: wrap;
    width: 100%;
    background: #fff; }
    .container-fluid main #content-post .post-meta .author {
      padding: 0;
      font-size: 0.9rem; }
    .container-fluid main #content-post .post-meta .created_at {
      padding: 0; } }
@media (min-width: 576px) {
  #slideHome.show-mb .carousel-item .info .name a {
    font-size: 2rem; } }
@media (min-width: 769px) {
  .container {
    max-width: 766px; }
    .container .category-top, .container .category-global {
      height: 40px;
      line-height: 40px; }

  .header .search-box input[type='search'] {
    border-radius: 0; }
  .header .search-box .btn-submit {
    border-radius: 0; }
  .header .header-middle-mobile .logo {
    font-size: 1.5rem; }
  .header .header-middle-mobile .search-box .form-inline {
    flex-wrap: nowrap; }
  .header .header-middle-mobile .resize-box .show-pc {
    display: inline-block; }
  .header .header-middle-mobile .resize-box .show-mb {
    display: none; }
  .header .header-menu-mobile {
    display: none; }

  .header .header-middle .search-box input[type='search'] {
    min-width: 200px; }
  .header .header-middle .search-box .btn-submit {
    min-width: 70px; }
  .header .header-middle .resize-box {
    padding: 0 !important; }
    .header .header-middle .resize-box p {
      display: none; }
  .header .header-menu .nav .nav-item .nav-link {
    padding: 0 10px; }
    .header .header-menu .nav .nav-item .nav-link:hover:not(.active)::before {
      width: calc(100% - 10px); }
  .header .header-menu .nav .nav-item.dropdown .nav-link::after {
    display: none; }
  .header .header-menu .nav .nav-item::after {
    display: none; } }
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px; }

  .header .header-middle .search-box input[type='search'] {
    min-width: 310px; }
  .header .header-middle .search-box .btn-submit {
    min-width: 90px; }
  .header .header-middle .resize-box {
    padding: 0 20px; }
    .header .header-middle .resize-box p {
      display: inline;
      padding-left: 13px; }
  .header .header-menu .nav .nav-item .nav-link {
    padding-left: 0;
    padding-right: 32px; }
    .header .header-menu .nav .nav-item .nav-link:hover:not(.active)::before {
      width: calc(100% - 32px); }
  .header .header-menu .nav .nav-item.dropdown .nav-link::after {
    display: inline-block; }
  .header .header-menu .nav .nav-item::after {
    display: inline-block; } }
@media screen and (min-width: 1025px) {
  .container {
    max-width: 990px; }

  .header .header-middle .search-box input[type='search'] {
    min-width: 310px; }
  .header .header-middle .search-box .btn-submit {
    min-width: 90px; }
  .header .header-middle .resize-box {
    padding: 0 20px !important; }
    .header .header-middle .resize-box p {
      display: inline; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }
@media screen and (min-width: 1500px) {
  .container {
    max-width: 1440px; } }

/*# sourceMappingURL=app.css.map */
