@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);.v-select {
  position: relative;
  font-family: inherit;
}

.v-select,
.v-select * {
  box-sizing: border-box;
}

/* KeyFrames */

@-webkit-keyframes vSelectSpinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes vSelectSpinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Dropdown Default Transition */

.vs__fade-enter-active,
.vs__fade-leave-active {
  transition: opacity 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.vs__fade-enter,
.vs__fade-leave-to {
  opacity: 0;
}

/** Component States */

/*
 * Disabled
 *
 * When the component is disabled, all interaction
 * should be prevented. Here we modify the bg color,
 * and change the cursor displayed on the interactive
 * components.
 */

.vs--disabled .vs__dropdown-toggle,
.vs--disabled .vs__clear,
.vs--disabled .vs__search,
.vs--disabled .vs__selected,
.vs--disabled .vs__open-indicator {
  cursor: not-allowed;
  background-color: #f8f8f8;
}

/*
 *  RTL - Right to Left Support
 *
 *  Because we're using a flexbox layout, the `dir="rtl"`
 *  HTML attribute does most of the work for us by
 *  rearranging the child elements visually.
 */

.v-select[dir=rtl] .vs__actions {
  padding: 0 3px 0 6px;
}

.v-select[dir=rtl] .vs__clear {
  margin-left: 6px;
  margin-right: 0;
}

.v-select[dir=rtl] .vs__deselect {
  margin-left: 0;
  margin-right: 2px;
}

.v-select[dir=rtl] .vs__dropdown-menu {
  text-align: right;
}

/**
    Dropdown Toggle

    The dropdown toggle is the primary wrapper of the component. It
    has two direct descendants: .vs__selected-options, and .vs__actions.

    .vs__selected-options holds the .vs__selected's as well as the
    main search input.

    .vs__actions holds the clear button and dropdown toggle.
 */

.vs__dropdown-toggle {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: flex;
  padding: 0 0 4px 0;
  background: none;
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-radius: 4px;
  white-space: normal;
}

.vs__selected-options {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0 2px;
  position: relative;
}

.vs__actions {
  display: flex;
  align-items: center;
  padding: 4px 6px 0 3px;
}

/* Dropdown Toggle States */

.vs--searchable .vs__dropdown-toggle {
  cursor: text;
}

.vs--unsearchable .vs__dropdown-toggle {
  cursor: pointer;
}

.vs--open .vs__dropdown-toggle {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.vs__open-indicator {
  fill: rgba(60, 60, 60, 0.5);
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: -webkit-transform 150ms cubic-bezier(1, -0.115, 0.975, 0.855);
  transition: transform 150ms cubic-bezier(1, -0.115, 0.975, 0.855);
  transition: transform 150ms cubic-bezier(1, -0.115, 0.975, 0.855), -webkit-transform 150ms cubic-bezier(1, -0.115, 0.975, 0.855);
  transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
}

.vs--open .vs__open-indicator {
  -webkit-transform: rotate(180deg) scale(1);
          transform: rotate(180deg) scale(1);
}

.vs--loading .vs__open-indicator {
  opacity: 0;
}

/* Clear Button */

.vs__clear {
  fill: rgba(60, 60, 60, 0.5);
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin-right: 8px;
}

/* Dropdown Menu */

.vs__dropdown-menu {
  display: block;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  z-index: 1000;
  padding: 5px 0;
  margin: 0;
  width: 100%;
  max-height: 350px;
  min-width: 160px;
  overflow-y: auto;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-top-style: none;
  border-radius: 0 0 4px 4px;
  text-align: left;
  list-style: none;
  background: #fff;
}

.vs__no-options {
  text-align: center;
}

/* List Items */

.vs__dropdown-option {
  line-height: 1.42857143;
  /* Normalize line height */
  display: block;
  padding: 3px 20px;
  clear: both;
  color: #333;
  /* Overrides most CSS frameworks */
  white-space: nowrap;
}

.vs__dropdown-option:hover {
  cursor: pointer;
}

.vs__dropdown-option--highlight {
  background: #5897fb;
  color: #fff;
}

/* Selected Tags */

.vs__selected {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-radius: 4px;
  color: #333;
  line-height: 1.4;
  margin: 4px 2px 0px 2px;
  padding: 0 0.25em;
}

.vs__deselect {
  display: inline-flex;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-left: 4px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
  fill: rgba(60, 60, 60, 0.5);
  text-shadow: 0 1px 0 #fff;
}

/* States */

.vs--single .vs__selected {
  background-color: transparent;
  border-color: transparent;
}

.vs--single.vs--open .vs__selected {
  position: absolute;
  opacity: 0.4;
}

.vs--single.vs--searching .vs__selected {
  display: none;
}

/* Search Input */

.vs__search::-webkit-search-decoration,
.vs__search::-webkit-search-cancel-button,
.vs__search::-webkit-search-results-button,
.vs__search::-webkit-search-results-decoration,
.vs__search::-ms-clear {
  display: none;
}

.vs__search,
.vs__search:focus {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: 1.4;
  font-size: 1em;
  border: 1px solid transparent;
  border-left: none;
  outline: none;
  margin: 4px 0 0 0;
  padding: 0 7px;
  background: none;
  box-shadow: none;
  width: 0;
  max-width: 100%;
  flex-grow: 1;
}

.vs__search::-webkit-input-placeholder {
  color: inherit;
}

.vs__search::-moz-placeholder {
  color: inherit;
}

.vs__search:-ms-input-placeholder {
  color: inherit;
}

.vs__search::-ms-input-placeholder {
  color: inherit;
}

.vs__search::placeholder {
  color: inherit;
}

/**
    States
 */

.vs--unsearchable .vs__search {
  opacity: 1;
}

.vs--unsearchable .vs__search:hover {
  cursor: pointer;
}

.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search {
  opacity: 0.2;
}

/* Loading Spinner */

.vs__spinner {
  align-self: center;
  opacity: 0;
  font-size: 5px;
  text-indent: -9999em;
  overflow: hidden;
  border-top: 0.9em solid rgba(100, 100, 100, 0.1);
  border-right: 0.9em solid rgba(100, 100, 100, 0.1);
  border-bottom: 0.9em solid rgba(100, 100, 100, 0.1);
  border-left: 0.9em solid rgba(60, 60, 60, 0.45);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation: vSelectSpinner 1.1s infinite linear;
          animation: vSelectSpinner 1.1s infinite linear;
  transition: opacity 0.1s;
}

.vs__spinner,
.vs__spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

/* Loading Spinner States */

.vs--loading .vs__spinner {
  opacity: 1;
}

input,
button,
textarea,
select {
  border-radius: 0 !important;
}

button:focus {
  box-shadow: unset !important;
}

.page-item .page-link {
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  padding: 0.7rem 0.9rem !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.page-item .page-link:focus {
  box-shadow: unset !important;
}

.page-item.disabled:not([role=separator]) .page-link {
  background-color: #d0cece !important;
}

.page-item.disabled:not([role=separator]) span {
  color: #000000;
}

.page-item.active .page-link {
  color: #0c0d3e !important;
  background-color: #67a8e4 !important;
  border-color: #d0cece !important;
}

.col-1 {
  width: 8.333333% !important;
}

.col-2 {
  width: 16.666666% !important;
}

.col-3 {
  width: 25% !important;
}

.col-4 {
  width: 30% !important;
}

.col-5 {
  width: 41.666666% !important;
}

.col-6 {
  width: 50% !important;
}

.col-7 {
  width: 58.333333% !important;
}

.col-8 {
  width: 66.6666666% !important;
}

.col-9 {
  width: 75% !important;
}

.col-10 {
  width: 83.3333333% !important;
}

.col-11 {
  width: 91.6666666% !important;
}

.col-12 {
  width: 100% !important;
}

#modal-alert .modal-dialog {
  margin: calc(50vh - 240px) auto !important;
}

#modal-alert .modal-content {
  background: #F2F2F2;
}

#modal-alert .modal-header {
  padding: 0.5rem 1rem !important;
  background: #E2F0D9;
  justify-content: center !important;
}

#modal-alert .modal-header .mod-title {
  margin: 0;
}

#modal-alert .modal-body {
  padding: 2rem !important;
  background: #F2F2F2;
}

#modal-alert .modal-footer {
  justify-content: flex-start !important;
  border-top: unset !important;
  padding: 2rem !important;
  background: #F2F2F2;
}

#modal-alert .modal-footer .mod-btn-del {
  background-color: #42c9de !important;
  border-color: #3dd3ea !important;
  height: 35px !important;
  width: 80px;
}

#modal-alert .modal-footer .mod-btn-del:focus {
  box-shadow: unset !important;
}

#modal-alert .modal-footer .mod-btn-cancel {
  background-color: #ffdf80 !important;
  height: 35px !important;
  width: 100px;
}

#modal-alert .modal-footer .mod-btn-cancel:focus {
  box-shadow: unset !important;
}

#modal-content .modal-body {
  padding: 1rem 2rem;
}

#modal-content .modal-dialog {
  width: 80vw !important;
  max-width: unset;
  height: 80vh !important;
  margin: 10vh auto;
}

#modal-content .modal-footer {
  justify-content: flex-start;
  border-top: unset;
}

#modal-content .modal-footer .meta-post {
  border: 1px solid #6f6a6a;
  padding: 6px;
  width: 80%;
  font-size: 0.9rem;
}

#modal-content .modal-footer .meta-post span {
  font-weight: bold;
}

#modal-content .modal-header {
  align-items: center;
  background: #F2F2F2;
  padding: 0.5rem;
}

#modal-content .modal-header h5 {
  margin: 0 15px 0 0;
  font-weight: bold;
  font-size: 1em;
}

#modal-content .modal-header button {
  color: #332a2a;
  background-color: #ffa96f;
  border-color: #0886c7;
  width: 6em;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.el-error {
  color: #005cbf;
  padding-top: 20px;
  line-height: 20px;
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
}

.el-error-s {
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
}

.clr {
  clear: both;
}

.container .form-login {
  margin-top: calc(50vh - 150px);
}

.container .form-login .form-horizontal .el-btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .form-login .form-horizontal .el-btn-submit button {
  height: 40px !important;
  width: 105px;
  font-size: 17px !important;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
  background-color: #247fd2;
  border-color: #000;
}

.container .form-login .form-horizontal .el-btn-submit button:hover {
  background-color: #267dda;
}

.container .form-login .form-horizontal .form-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
}

.container .form-login .form-horizontal .form-title h2 {
  font-size: 30px;
  font-weight: bold;
}

.container .form-login .form-horizontal input {
  max-width: 300px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
}

.container .form-login .form-horizontal input::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
  /* Firefox */
  font-size: 18px !important;
}

.container .form-login .form-horizontal input::-moz-placeholder {
  color: #000;
  opacity: 1;
  /* Firefox */
  font-size: 18px !important;
}

.container .form-login .form-horizontal input:-ms-input-placeholder {
  color: #000;
  opacity: 1;
  /* Firefox */
  font-size: 18px !important;
}

.container .form-login .form-horizontal input::-ms-input-placeholder {
  color: #000;
  opacity: 1;
  /* Firefox */
  font-size: 18px !important;
}

.container .form-login .form-horizontal input::placeholder {
  color: #000;
  opacity: 1;
  /* Firefox */
  font-size: 18px !important;
}

.container .form-login .form-horizontal input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}

.container .form-login .form-horizontal input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}

.container .form-login .form-horizontal input#mail,
.container .form-login .form-horizontal input#password {
  height: 45px !important;
  font-size: 18px !important;
}

/* http://meyerweb.com/eric/tools/css/reset/ */

/* v1.0 | 20080212 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1;
  margin: 0 auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

a {
  text-decoration: none;
  color: #000;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */

:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clr {
  clear: both;
}

.footer {
  background-color: #362e2b;
}

.footer_container {
  margin: 0 auto;
  position: relative;
}

.footer_container_copyright {
  background-color: #bfbfbf;
  height: 41px;
  line-height: 41px;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
}

.footer_container_widgets {
  width: 64.4%;
  margin: 0 auto;
  position: relative;
}

.footer_container_widgets .widget {
  margin: 35px 1%;
  width: 30%;
}

.footer_container_widgets .widget ul li a {
  color: white;
  font-size: 0.75em;
  line-height: 2em;
  text-decoration: none;
}

.footer_container_widgets .widget ul li a:hover {
  text-decoration: underline;
}

.footer_container_widgets .col-1 {
  float: left;
}

.footer_container_widgets .col-2 {
  float: left;
}

.footer_container_widgets .col-3 {
  float: left;
}

.footer_container #back-to-top a {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  width: 80px;
  bottom: 100%;
  height: 30px;
  color: white;
  z-index: 2;
  text-decoration: none;
  padding-top: 8px;
  transition: all 0.3s ease;
}

.footer_container #back-to-top a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  width: 80px;
  background-color: #362e2b;
  border-radius: 50%;
  z-index: -1;
}

.footer_container #back-to-top a:hover {
  color: #fff;
  bottom: 101%;
}

.header {
  display: flex;
  align-items: center;
}

.header_left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 230px;
  background: #5B9BD5;
}

.header_left h2 {
  cursor: pointer;
  font-size: 1.25em;
}

.header_left a {
  color: #ffffff;
  text-decoration: none;
}

.header_left a:hover {
  text-decoration: none;
  color: #ffffff;
}

.header_left a:hover h2 {
  font-size: 1.29em;
}

.header_right {
  line-height: 50px;
  height: 50px;
  flex-grow: 1;
  background-color: #5B9BD5;
  padding-right: 20px;
}

.header_right .profile_user {
  position: relative;
  color: #ffffff;
}

.header_right .profile_user a.toggle-user {
  color: #ffffff;
  position: relative;
  padding-right: 30px;
}

.header_right .profile_user a.toggle-user:hover {
  text-decoration: none;
}

.header_right .profile_user a.toggle-user::after {
  content: "";
  position: absolute;
  background: url(/images/arrow-up.png?2f39a600159ffe57b32b3f150f171647) no-repeat;
  width: 12px;
  height: 12px;
  background-size: contain;
  top: 6px;
  right: -20px;
  -webkit-transform: none;
          transform: none;
}

.header_right .profile_user a.toggle-user.show::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header_right .profile_user a {
  text-decoration: none;
}

.header_right .profile_user .menu-user {
  border-radius: unset;
  border: 1px solid #41719C;
  position: absolute;
  top: 49px;
  right: -20px;
  background: #fff;
  display: flex;
  color: #000;
  height: 50px;
  width: 150px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}

.header_right .profile_user .menu-user li {
  height: 35px;
  line-height: 35px;
  width: 100%;
  text-align: center;
}

.header_right .profile_user .menu-user li a.logout {
  color: #615e5e;
}

.header_right .profile_user .menu-user li a.logout:hover {
  text-decoration: none;
  border-bottom: 2px solid #41719C;
  padding-bottom: 5px;
}

.header_right .profile_user .menu-user.show {
  display: flex !important;
  transition: all 0.3s;
  justify-content: center;
  align-items: center;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 1;
}

.main {
  display: flex;
  min-height: 91vh;
}

.main_section_menu_bar {
  width: 230px;
  border-right: 1px solid #ADB5BD;
}

.main_section_menu_bar .list-group {
  width: 230px;
  padding-right: 2px;
}

.main_section_menu_bar .list-group-item {
  border: unset;
  padding: 10px 25px;
  position: relative;
  padding-left: 39px;
}

.main_section_menu_bar .list-group-item::before {
  content: "";
  position: absolute;
  background: url(/images/arrow-right.png?8de73d248bfc80c2c42973ca31e21693) no-repeat;
  width: 12px;
  height: 12px;
  background-size: contain;
  top: 15px;
  -webkit-transform: none;
          transform: none;
  left: 20px;
}

.main_section_menu_bar .list-group-item a {
  text-decoration: none;
  color: #767171;
  font-weight: bold;
  font-size: 0.91rem;
}

.main_section_menu_bar .list-group-item.is_active a {
  font-weight: bold;
  color: #1A82C3;
}

.main_section_menu_bar .list-group-item:hover a {
  color: #0073da;
}

.main_section_menu_bar .title-bar {
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  /* font-weight: bold; */
  font-size: 0.9rem;
}

.main_section_content {
  flex-grow: 1;
  padding: 15px;
  margin: 0 auto;
}

.main_section_content .content-header h2 {
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #c6c6c6;
}

.main_section_content .content-header-top {
  margin: 25px auto;
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
}

.main_section_content .content-header-top .form-search {
  border-right: 2px solid #c6c6c6;
  box-sizing: unset;
}

.main_section_content .content-header-top .form-search form {
  display: flex;
  flex-wrap: wrap;
}

.main_section_content .content-header-top .form-search .el-pagination a:hover {
  text-decoration: none;
}

.main_section_content .content-header-top .form-search .btn-search {
  background-color: #FFF2CC;
}

.main_section_content .content-header-top .form-search .form-group {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.main_section_content .content-header-top .el-pagination {
  display: flex;
  align-items: center;
}

.main_section_content .content-header-top .el-pagination .prev-page,
.main_section_content .content-header-top .el-pagination .next-page {
  background-color: #FFF2CC;
  font-size: 11px;
  box-sizing: content-box;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_section_content .content-header-top .el-pagination .prev-page i,
.main_section_content .content-header-top .el-pagination .next-page i {
  margin: 0 5px;
}

.main_section_content .content-header-top .el-pagination .total-page {
  font-size: 13px;
  text-align: center;
}

.main_section_content .coming-soon {
  width: 80%;
  border: 1px solid #696969;
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  background: #b8ffb48a;
  font-size: 30px;
  font-weight: bold;
  color: #f50808;
  text-transform: uppercase;
}

.main_section_content .coming-soon .fas.fa-history {
  font-size: 31px;
}

.release-wrapper .content-header h2 {
  border: unset;
  font-weight: bold;
  font-size: 1.35em;
}

.release-wrapper .content-header button.btn-add {
  width: 150px;
  height: 40px !important;
  background: #5b9bd5;
  font-size: 1.5em !important;
  line-height: 0;
  border-color: #5b9bd5;
}

.release-wrapper .content {
  margin: 20px auto;
}

.release-wrapper .content .td-stt {
  background-color: #DEEBF7;
}

.release-wrapper .content .td-name {
  padding-left: 40px !important;
}

.release-wrapper .content .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.release-wrapper .content .container .btn {
  width: 80%;
  margin: 5px;
  height: 45px !important;
}

.release-wrapper .content .container .btn.btn-del {
  background-color: #f7a88b;
  color: black;
  font-size: 1.5rem !important;
}

.release-wrapper .content .container .btn.btn-edit {
  background-color: #bbf19e;
  color: black;
  font-size: 1.5rem !important;
  border-radius: 0;
}

.release-wrapper .content .td-image img {
  width: 100% !important;
}

.release-wrapper .content .td-action {
  border-right: 1px solid #dee2e6;
}

.release-wrapper .content #release_number_table {
  border-collapse: separate;
  border-spacing: 0 8px;
}

.release-wrapper .content #release_number_table thead {
  display: none;
}

.release-wrapper .content #release_number_table td {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #7eb2e2;
}

.release-wrapper .content #release_number_table td.td-stt {
  border: 1px solid #7eb2e2;
}

.release-wrapper .content-form {
  width: 97%;
  /**
      vue-datapicker
   */
}

.release-wrapper .content-form textarea {
  resize: none;
  font-size: 1rem !important;
}

.release-wrapper .content-form label {
  color: #333333;
  font-size: 1.2rem;
}

.release-wrapper .content-form .btn {
  color: #424242;
  padding: 5px 25px;
  font-size: 1.2rem !important;
  border-color: #065865;
}

.release-wrapper .content-form .btn.btn-submit {
  background: #d8ecff;
}

.release-wrapper .content-form .btn.btn-submit:hover {
  border-color: #09a1b9;
  background: #7dc0ff;
}

.release-wrapper .content-form .btn.btn-cancel {
  background: #FFF2CC;
  padding: 5px 40px;
}

.release-wrapper .content-form .btn.btn-cancel:hover {
  border-color: #09a1b9;
  background: #ffe18a;
}

.release-wrapper .content-form input[type=text] {
  font-size: 1rem !important;
}

.release-wrapper .content-form .vdp-datepicker input[type=text] {
  width: 100%;
  padding-left: 10px;
  height: 40px;
  border: 1px solid #9f9f9f;
}

.release-wrapper .content-form .old-image {
  display: flex;
  flex-wrap: wrap;
}

.release-wrapper .paginate {
  height: 80px;
  margin: 25px 0;
  line-height: 80px;
}

.release-wrapper .paginate .ul-paginate {
  display: flex;
}

.release-wrapper .paginate .ul-paginate .page {
  width: 40px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background: #DEEBF7;
  border: 1px solid #41719C;
  border-left: none;
}

.release-wrapper .paginate .ul-paginate .page.prev-page {
  border-left: 1px solid #41719C;
  background: #D0CECE;
}

.release-wrapper .paginate .ul-paginate .page.next-page {
  background: #D0CECE;
}

#dropzone {
  background-color: #F2F2F2;
  border: 1px solid #0573bd;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-wrapper .content-header h2 {
  border: unset;
  font-weight: bold;
  font-size: 1.35em;
}

.post-wrapper .content-header button.btn-add {
  height: 40px !important;
  background: #5b9bd5;
  font-size: 1.5em !important;
  line-height: 0;
  border-color: #5b9bd5;
}

.post-wrapper .content {
  margin: 20px auto;
}

.post-wrapper .content-table {
  width: 97%;
}

.post-wrapper .content-table-top {
  margin: 15px auto;
  border: 1px solid #064680;
  justify-content: center;
  align-items: center;
  padding-top: 18px;
  background-color: #f7f7f7;
}

.post-wrapper .content-table .table thead {
  background-color: #c3c3c3;
}

.post-wrapper .content-table .table thead tr,
.post-wrapper .content-table .table thead th {
  border: 1px solid #064680;
  color: #4e4e4e;
}

.post-wrapper .content-table .table tbody {
  background-color: #f9f9f9;
  border-top: 1px solid #064680;
}

.post-wrapper .content-table .table tbody tr,
.post-wrapper .content-table .table tbody td {
  border: 1px solid #064680;
}

.post-wrapper .content-table .table tbody .btn {
  border-color: #064680;
}

.post-wrapper .content-table .table tbody .btn.btn-del {
  background-color: #FBE5D6;
  color: black;
}

.post-wrapper .content-table .table tbody .btn.btn-del:hover {
  background-color: #ec9e69;
  color: #1c211c;
  border-color: #96bde0;
}

.post-wrapper .content-table .table tbody .btn.btn-edit {
  background-color: #DEEBF7;
  color: black;
  border-radius: 0;
}

.post-wrapper .content-table .table tbody .btn.btn-edit:hover {
  background-color: #81bcf3;
  color: #1c211c;
  border-color: #96bde0;
}

.post-wrapper .content-table .table tbody .btn.btn-show {
  background-color: #D6DCE5;
  color: black;
  border-radius: 0;
  width: 80%;
}

.post-wrapper .content-table .table tbody .btn.btn-show:hover {
  background-color: #8fb0e2;
  color: #1c211c;
  border-color: #96bde0;
}

.post-wrapper .content-table .right-items {
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.post-wrapper .content-table .form-left {
  position: relative;
}

.post-wrapper .content-table .form-left::before {
  content: "";
  position: absolute;
  border-left: 2px solid #989797;
  right: -10px;
  height: 85%;
}

.post-wrapper .content-table .form-left .btn-search {
  width: 100%;
  background-color: #fdde80;
  border-color: #d2dc56;
}

.post-wrapper .content-table .form-left .btn-search:hover {
  background-color: #fdc92b;
}

.post-wrapper .content-table .form-left #search-input {
  background-color: #f3f3f3;
  text-align: center;
}

.post-wrapper .content-table .form-group.row {
  align-items: center;
}

.post-wrapper .content .v-select {
  background-color: #f3f3f3;
}

.post-wrapper .content .v-select .vs__dropdown-menu {
  background-color: #f3f3f3;
}

.post-wrapper .content .btn-reset-search {
  border-radius: 0;
  margin-bottom: 15px;
}

.post-wrapper .content-form {
  width: 97%;
  /**
      vue-datapicker
   */
}

.post-wrapper .content-form .form-content {
  margin-left: 15px;
}

.post-wrapper .content-form textarea {
  resize: none;
  font-size: 1rem !important;
}

.post-wrapper .content-form .ckeditor {
  width: 98%;
}

.post-wrapper .content-form label {
  color: #333333;
  font-size: 1.2rem;
}

.post-wrapper .content-form .btn {
  color: #424242;
  padding: 5px 25px;
  font-size: 1.2rem !important;
  border-color: #065865;
}

.post-wrapper .content-form .btn.btn-submit {
  background: #d8ecff;
}

.post-wrapper .content-form .btn.btn-submit:hover {
  border-color: #09a1b9;
  background: #7dc0ff;
}

.post-wrapper .content-form .btn.btn-cancel {
  background: #FFF2CC;
  padding: 5px 40px;
}

.post-wrapper .content-form .btn.btn-cancel:hover {
  border-color: #09a1b9;
  background: #ffe18a;
}

.post-wrapper .content-form input[type=text] {
  font-size: 1rem !important;
}

.post-wrapper .content-form .vdp-datepicker input[type=text] {
  width: 100%;
  padding-left: 10px;
  height: 40px;
  border: 1px solid #9f9f9f;
}

.post-wrapper .content-form .old-image {
  display: flex;
  flex-wrap: wrap;
}

.post-wrapper .content-form .left-form {
  background-color: #F2F2F2;
}

.post-wrapper .v-select {
  background: #fff;
}

.post-wrapper .v-select .vs__dropdown-toggle {
  border-radius: 0;
}

.post-wrapper .v-select .vs__selected-options {
  flex-wrap: unset;
}

.post-wrapper .v-select .vs__selected-options input {
  text-align: center;
}

.post-wrapper .v-select .vs__selected-options input::-webkit-input-placeholder {
  opacity: 0.4;
}

.post-wrapper .v-select .vs__selected-options input::-moz-placeholder {
  opacity: 0.4;
}

.post-wrapper .v-select .vs__selected-options input:-ms-input-placeholder {
  opacity: 0.4;
}

.post-wrapper .v-select .vs__selected-options input::-ms-input-placeholder {
  opacity: 0.4;
}

.post-wrapper .v-select .vs__selected-options input::placeholder {
  opacity: 0.4;
}

.post-wrapper .v-select .vs__actions svg {
  visibility: hidden;
}

.post-wrapper .v-select .vs__actions::after {
  content: "";
  position: absolute;
  background: url(/images/arrow-solid.png?b09d83e58b902ace8ac1cfbcfe715aab) no-repeat;
  background-size: contain;
  width: 13px;
  height: 13px;
  right: 5px;
  opacity: 0.5;
}

.post-wrapper .v-select.vs--open .vs__actions::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.post-wrapper .v-select .vs__dropdown-menu {
  width: 100% !important;
  min-width: unset;
}

.post-wrapper #dropzone {
  background-color: #FFFFFF;
}

.post-wrapper #old-img {
  position: relative;
}

.post-wrapper #old-img:hover::after {
  display: block;
}

.post-wrapper #old-img::after {
  content: "";
  position: absolute;
  background: url(/images/remove.png?fbef28c5b413c5e7a3fe5125f86f75eb) no-repeat;
  width: 50px;
  height: 50px;
  background-size: contain;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  display: none;
}

