.el-error {
  color:  #005cbf;
  padding-top: 20px;
  line-height: 20px;
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
}
.el-error-s {
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
}