.clr {
  clear: both;
}

.container {
  .form-login {
    margin-top: calc(50vh - 150px);
    .form-horizontal {
      .el-btn-submit {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          height: 40px !important;
          width: 105px;
          font-size: 17px !important;
          font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
          background-color: #247fd2;
          border-color: #000;
          &:hover {
            background-color: #267dda;
          }
        }
      }
      .form-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;

        h2 {
          font-size: 30px;
          font-weight: bold;
        }
      }
      input {
        max-width: 300px;
        margin: 0 auto;
        font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
        &::placeholder {
          color: #000;
          opacity: 1; /* Firefox */
          font-size: 18px  !important ;
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #000;
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
          color: #000;
        }
        &#mail,&#password {
          height: 45px !important ;
          font-size:  18px  !important ;
        }

      }

    }
  }
}
