.release-wrapper {
    .content-header {
        h2 {
            border: unset;
            font-weight: bold;
            font-size: 1.35em;
        }
        button.btn-add {
            width: 150px;
            height: 40px !important;
            background: #5b9bd5;
            font-size: 1.5em !important;
            line-height: 0;
            border-color: #5b9bd5;
        }
    }
    .content {
        margin: 20px auto;
        .td-stt {
            background-color: #DEEBF7;
        }
        .td-name {
            padding-left: 40px !important;
        }
        .container {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .btn {
                width: 80%;
                margin: 5px;
                height: 45px !important;
                &.btn-del {
                    background-color: #f7a88b;
                    color: black;
                    font-size: 1.5rem !important;
                }
                &.btn-edit {
                    background-color: #bbf19e;
                    color: black;
                    font-size: 1.5rem !important;
                    border-radius: 0;
                }
            }
        }
        .td-image {
            img {
                width: 100% !important;
            }
        }
        .td-action {
            border-right: 1px solid #dee2e6;
        }
        #release_number_table {
            border-collapse:separate;
            border-spacing: 0 8px;
            thead {
                display: none;
            }
            td {
                border-top: 1px solid;
                border-bottom: 1px solid;
                border-color: #7eb2e2;
                &.td-stt {
                    border: 1px solid #7eb2e2;
                }
            }
        }
    }
    .content-form {
        width: 97%;
        textarea {
            resize: none;
            font-size: 1rem !important;
        }
        label {
            color: #333333;
            font-size: 1.2rem;
        }
        .btn {
            color: #424242;
            padding: 5px 25px;
            font-size: 1.2rem !important;
            border-color: #065865;
            &.btn-submit{
                background: #d8ecff;
                &:hover {
                    border-color: #09a1b9;
                    background: #7dc0ff;
                }
            }
            &.btn-cancel{
                background: #FFF2CC;
                padding: 5px 40px;
                &:hover {
                    border-color: #09a1b9;
                    background: #ffe18a;
                }
            }
        }
        input {
            &[type='text'] {
                font-size: 1rem !important;
            }
        }
        /**
            vue-datapicker
         */
        .vdp-datepicker {
            input[type='text'] {
                width: 100%;
                padding-left: 10px;
                height: 40px;
                border: 1px solid #9f9f9f;
            }
        }
        .old-image {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .paginate {
        height: 80px;
        margin: 25px 0;
        line-height: 80px;
        .ul-paginate {
            display: flex;
            .page {
                width: 40px;
                text-align: center;
                height: 40px;
                line-height: 40px;
                background: #DEEBF7;
                border: 1px solid #41719C;
                border-left: none;
                &.prev-page  {
                    border-left: 1px solid #41719C;
                    background: #D0CECE;
                }
                &.next-page  {
                    background: #D0CECE;
                }
            }
        }
    }
}
#dropzone {
    background-color: #F2F2F2;
    border: 1px solid #0573bd;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
