<template>
    <div class="release-wrapper" >
        <div class="content-header">
            <h2>発売号変更</h2>
        </div>

        <div class="content-form">
            <form  @submit.prevent="onSubmit()">
                <div class="form-group">
                    <label>発売号名</label>
                    <datepicker
                                :format="datepicker.format"
                                v-model="release_name"
                                v-if="renderComponent" 
                    ></datepicker>
                </div>
                <div class="form-group">
                    <label>発売号画像</label>
                    <div class="row justify-content-md-center">
                        <div class=".col-12 col-sm-12 col-md-6 .col-lg-4 .col-xl-3 align-items-center old-image" >
                            <img class="img-thumbnail" :src="old_thumbnail" fluid >
                        </div>
                        <div class=".col-12 col-sm-12 col-md-6 .col-lg-8 .col-xl-9 col-md-auto">
                            <vue-dropzone ref="myVueDropzone" id="dropzone"
                                          :options="dropzoneOptions"
                                          :useCustomSlot=true
                                          @vdropzone-success="vsuccess"
                                          @vdropzone-file-added="vaddfile"
                                          @vdropzone-max-files-exceeded="vmaxfile"
                                          @vdropzone-removed-file="vremoved"
                            >
                                <div class="dropzone-custom-content">
                                    <img src="/images/cloud-upload.png" width="40" alt="upload-icon">
                                    <h5 class="dropzone-custom-title">ここに画像ドラッグ</h5>
                                </div>
                            </vue-dropzone>
                            <input type="hidden" v-model="item.image_id" >
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>価格</label>
                    <input type="number" class="form-control" v-model="item.price" />
                </div>
                <div class="form-group">
                    <label >形容</label>
                    <textarea class="form-control" rows="3"  v-model="item.description" >形容の入力</textarea>
                </div>
                <button type="submit" class="btn btn-info btn-submit">保存</button>
                <button type="button" class="btn btn-warning btn-cancel" v-on:click="cancel()">キャンセル</button>
            </form>
        </div>
    </div>
</template>

<script src="../../business/release_number/EditBusiness.js"></script>
