<template>
    <div class="release-wrapper" >
        <div class="content-header">
            <h2>発売号一覧管理</h2>
            <router-link :to="{ name: 'admin.release_number.add'}">
                <button class="btn btn-info btn-add">新規登録</button>
            </router-link>
        </div>
        <div class="content">
            <div class="overflow-auto">
                <b-table
                        id="release_number_table"
                        v-if="items.length"
                        :items="items"
                        :per-page="paginate.per_page"
                        :fields="fields"
                        small responsive hover
                >
                    <template slot="id" slot-scope="row">
                        <span>{{paginate.per_page*(currentPage - 1) + (row.index +1)}}</span>
                    </template>
                    <template slot="thumbnail" slot-scope="row">
                        <b-img  v-bind="mainProps" fluid 
                                :src="row.item.thumbnail.replace('/storage/images','/storage/thumbnail/1200x400')"
                                :id="'thumbnail-'+row.item.id" 
                                @error="imgUrlAlt"  
                                data-er="0"
                                :data-img-id="row.item.image_id"
                                :data-id="row.item.id"
                        ></b-img>
                    </template>
                    <template slot="actions" slot-scope="row" class="d-flex">
                        <div class="container">
                            <b-button size="sm" class="mr-1 btn-del"  @click="showModal(row.item)" > 削除</b-button>
                            <router-link class="btn btn-edit btn-secondary btn-sm"
                                         :to="{name: 'admin.release_number.edit', params: {id: row.item.id}}"
                            >
                                変更
                            </router-link>
                        </div>
                    </template>
                </b-table>
                <div v-else class="text-center" >
                    <b-spinner variant="info" label="Spinning"></b-spinner>
                </div>
                <b-pagination
                        v-model="currentPage"
                        :total-rows="paginate.total"
                        :per-page="paginate.per_page"
                        :next-text="next_text"
                        :prev-text="prev_text"
                        hide-goto-end-buttons
                        class="mt-5"
                        v-if="paginate.total"
                ></b-pagination>
            </div>
            <div>
                <b-modal ref="modal-confirm"  id="modal-alert">
                    <template slot="modal-header" >
                        <h5 class="mod-title">発売号の削除</h5>
                    </template>
                    <template slot="default" >
                        <h5>この発売号を削除してよろしいですか。</h5>
                    </template>
                    <template slot="modal-footer" class="float-left" >
                        <b-button size="sm" variant="info" class="mod-btn-del" @click="delItem()">はい</b-button>
                        <b-button size="sm" variant="warning" class="mod-btn-cancel"  @click="cancel()">いいえ</b-button>
                    </template>
                </b-modal>
            </div>
        </div>
    </div>
</template>
<script src="../../business/release_number/IndexBusiness.js"></script>
