/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
  margin: 0 auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

a {
  text-decoration: none;
  color: #000;

}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clr {
  clear: both;
}

.footer {
  background-color: #362e2b;

  &_container {
    //width: 1000px;
    margin: 0 auto;
    position: relative;

    &_copyright {
      background-color: #bfbfbf;
      height: 41px;
      line-height: 41px;
      text-align: center;
      font-size: 10px;
      text-transform: uppercase;
    }

    &_widgets {
      width: 64.4%;
      margin: 0 auto;
      position: relative;

      .widget {
        margin: 35px 1%;
        width: 30%;

        ul {
          li {

            a {
              color: white;
              font-size: 0.75em;
              line-height: 2em;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .col-1 {
        float: left;
      }

      .col-2 {
        float: left;
      }

      .col-3 {
        float: left;
      }
    }

    #back-to-top a {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      display: inline-block;
      margin: 0 auto;
      width: 80px;
      bottom: 100%;
      height: 30px;
      color: white;
      z-index: 2;
      text-decoration: none;
      padding-top: 8px;
      transition: all 0.3s ease;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 70px;
        width: 80px;
        background-color: #362e2b;
        border-radius: 50%;
        z-index: -1;
      }

      &:hover {
        color: #fff;
        //padding-top: 6px;
        bottom: 101%;

      }

    }

  }

}

.header {
  display: flex;
  align-items: center;
  &_left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 230px;
    background: #5B9BD5;
    h2 {
      cursor: pointer;
      font-size: 1.25em;
    }
    a {
      color: #ffffff;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        color: #ffffff;
        h2 {
          font-size: 1.29em;
        }

      }
    }
  }
  &_right {
    line-height: 50px;
    height: 50px;
    flex-grow: 1;
    background-color: #5B9BD5;
    padding-right: 20px;
    .profile_user {
      position: relative;
      color: #ffffff;
      a.toggle-user {
        color: #ffffff;
        position: relative;
        padding-right: 30px;
        &:hover {
          text-decoration: none;
        }
        &::after {
          content: '';
          position: absolute;
          background: url("../../images/arrow-up.png") no-repeat;
          width: 12px;
          height: 12px;
          background-size: contain;
          top: 6px;
          right: -20px;
          transform: none;
        }
        &.show {
          &::after {
            transform: rotate(180deg);
          }
        }
      }
      a {
        text-decoration: none;
      }
      .menu-user {
        border-radius: unset;
        border: 1px solid #41719C;
        position: absolute;
        top: 49px;
        right: -20px;
        background: #fff;
        display: flex;
        color: #000;
        height: 50px;
        width: 150px;
        transform: translateY(-100%);
        transition: transform 0.3s;
        z-index: -1;

        li {
          height: 35px;
          line-height: 35px;
          width: 100%;
          text-align: center;
          a.logout {
            color: #615e5e;
            &:hover {
              text-decoration: none;
              border-bottom: 2px solid #41719C;
              padding-bottom: 5px;

            }

          }
        }
        &.show {
          display: flex !important;
          transition: all 0.3s;
          justify-content: center;
          align-items: center;
          transform: translateY(0);
          z-index: 1;
        }
      }
    }
  }
}

.main {
  display: flex;
  min-height: 91vh;
  &_section_menu_bar {
    width: 230px;
    border-right: 1px solid #ADB5BD;
    .list-group {
      width: 230px;
      padding-right: 2px;
      &-item {
        border: unset;
        padding: 10px 25px;
        position: relative;
        padding-left: 39px;
        &::before {
          content: '';
          position: absolute;
          background: url("../../images/arrow-right.png") no-repeat;
          width: 12px;
          height: 12px;
          background-size: contain;
          top: 15px;
          transform: none;
          left: 20px;
        }
        a {
          text-decoration: none;
          color: #767171;
          font-weight: bold;
          font-size: 0.91rem;
        }
        &.is_active {
          a {
            font-weight: bold;
            color: #1A82C3;
          }
        }
        &:hover {
          a {
            color: #0073da;
          }
        }
      }
    }
    .title-bar {
      height: 40px;
      line-height: 40px;
      margin-left: 10px;
      /* font-weight: bold; */
      font-size: .9rem;
    }

  }
  &_section_content {
    flex-grow: 1;
    padding: 15px;
    margin: 0 auto;
    .content-header {

      h2 {
        height: 50px;
        line-height: 50px;
        border-bottom: 2px solid #c6c6c6;
      }
      &-top {
        margin: 25px auto;
        display: flex;
        align-items: center;
        background-color: #F2F2F2;
        .form-search {
          border-right: 2px solid #c6c6c6;
          box-sizing: unset;
          form {
            display: flex;
            flex-wrap: wrap;
          }
          .el-pagination {
            a:hover {
              text-decoration: none;
            }
          }
          .btn-search {
            background-color: #FFF2CC;
          }
          .form-group {
            margin: 10px 0;
            display: flex;
            align-items: center;

            #name {

            }
          }
        }
        .el-pagination {
          display: flex;
          align-items: center;
          .prev-page, .next-page {
            background-color: #FFF2CC;
            font-size: 11px;
            box-sizing: content-box;
            padding: 0 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
              margin: 0 5px;
            }
          }
          .total-page {
            font-size: 13px;
            text-align: center;
          }
        }

      }
    }

    .content {
      @mixin col-val($val) {
        width: $val;
      }
    }
    .coming-soon {
      width: 80%;
      border: 1px solid #696969;
      text-align: center;
      padding: 15px 0;
      margin: 0 auto;
      background: #b8ffb48a;
      font-size: 30px;
      font-weight: bold;
      color: #f50808;
      text-transform: uppercase;
      .fas.fa-history {
        font-size: 31px;
      }
    }
  }

}

@media only screen and (max-width: 768px) {

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) {
}

