<template>
    <footer class="footer">
        <div class="footer_container">
            <div class="footer_container_widgets">

            </div>
            <div class="footer_container_copyright">
                © 2019 NguyenIT
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
    }
</script>
