<template>
    <header class="header" v-if="$auth.ready()" >
        <div class="header_left">
            <router-link :to="{ name: 'admin.home' }">
                <h2> 総合ジャーナル</h2>
            </router-link>
        </div>
        <div class="header_right">
            <div class="float-right profile_user"  v-click-outside="onClickOutside" >
                <a href="javascript:;" class="toggle-user" v-on:click="show = !show" v-if="$auth.check()"  v-bind:class="[show? 'show' : '']"  >{{ user.name}}   </a>
                <ul class="menu-user"  v-bind:class="[show? class_name : '']" >
                    <li><a href="javascript:;" v-if="$auth.check()" v-on:click="logoutUser" class="logout"  > ログアウト</a></li>
                </ul>
            </div>
        </div>
    </header>
</template>

<script>
    import Vue from 'vue';
    import vClickOutside from 'v-click-outside';
    Vue.use(vClickOutside);

    export default {
        props: ['user'],
        data() {
            return {
                class_name: 'show',
                down: 'fa-angle-down',
                up: 'fa-angle-up',
                show: false,
            }
        },
        computed: {
            showDropdown: function () {
                return {
                    show: this.show,
                }
            },
        },
        created() {
        },
        watch: {
        },
        methods: {
            logoutUser(){
                this.$auth.logout();
                this.$router.push('/login');
            },
            onClickOutside () {
                this.show = false;
            },
        }
    }
</script>
<style lang="scss">
</style>
