<template>
    <div>
        <h5 class="title-bar h5">メニュー一覧</h5>
        <ul class="list-group" v-if="!!user.role.name">
            <li class="list-group-item" v-if="isShow('admin|superadmin|editor')"
                v-bind:class="{ is_active: $route.path.search('/release-number') === 0 }">
                <router-link :to="{ name: 'admin.release_number.index' }">
                    発売号一覧管理
                </router-link>
            </li>
            <li class="list-group-item" v-if="isShow('admin|superadmin')"
                v-bind:class="{ is_active: $route.path.search('/user') === 0 }">
                <router-link :to="{ name: 'admin.user.index' }">
                    アドミンユーザー管理
                </router-link>
            </li>
            <li class="list-group-item" v-if="isShow('admin|superadmin|editor')"
                v-bind:class="{ is_active:  $route.path.search('/category') === 0 }">
                <router-link :to="{ name: 'admin.category.index' }">
                    カテゴリ管理
                </router-link>
            </li>
            <li class="list-group-item" v-if="isShow('admin|superadmin|editor|contributor')"
                v-bind:class="{ is_active:  $route.path.search('/post') === 0 }">
                <router-link :to="{ name: 'admin.post.index' }">
                    記事一覧管理
                </router-link>
            </li>
            <li class="list-group-item" v-if="isShow('admin|superadmin|editor|contributor')"
                v-bind:class="{ is_active: $route.path.search('/image') === 0 }">
                <router-link :to="{ name: 'admin.image.index' }">
                    画像管理
                </router-link>
            </li>
            <li class="list-group-item" v-if="isShow('admin|superadmin')"
                v-bind:class="{ is_active: $route.path.search('/member') === 0 }">
                <router-link :to="{ name: 'admin.member.index' }">
                    メンバー一覧管理
                </router-link>
            </li>
            <li class="list-group-item" v-if="isShow('admin|superadmin')"
                v-bind:class="{ is_active: $route.path.search('/setting') === 0 }">
                <router-link :to="{ name: 'admin.setting.index' }">
                    設定管理
                </router-link>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ['user'],
        data() {
            return {
            }
        },
        created() {
        },
        methods: {
            isShow(roles) {
                var role = this.user.role.name;
                return (roles.search(role) !== -1);
            }
        }
    }
</script>
