<template>
    <div>
        <layout-header v-bind:user="user"/>
        <main class="main" v-if="user.role">
            <section class="main_section_menu_bar">
                <layout-leftbar v-bind:user="user"/>
            </section>
            <section class="main_section_content" v-if="is_show===1">
                <slot/>
            </section>
            <section class="main_section_content" v-else-if="is_show===2">
                <div class="coming-soon">
                    <i class="fas fa-hand-paper"></i> permission denied
                </div>
            </section>
        </main>
        <layout-footer/>
    </div>
</template>
<script>
    import HeaderComponent from '../components/admin/HeaderComponent'
    import FooterComponent from '../components/admin/FooterComponent'
    import LeftbarComponent from "../components/admin/LeftbarComponent";

    export default {
        name: 'MainLayout',
        components: {
            'layout-header': HeaderComponent,
            'layout-footer': FooterComponent,
            'layout-leftbar': LeftbarComponent
        },
        data() {
            return {
                user: {
                    name: '',
                    mail: '',
                    role: {
                        name: ''
                    }
                },
                roles: [],
                is_show: 0
            }
        },
        watch: {
            '$route'(to, from) {
                this.checkRole();
            }
        },
        created() {
            this.checkRole()
        },
        methods: {
            fetchData() {
                var app = this;
                return new Promise((resolve, reject) => {
                    app.$auth.fetch({url: '/api/auth/user', method: 'get'})
                        .then(res => {
                            app.user = res.data.user;
                            resolve(app.user);
                        })
                });
            },
            async checkRole() {
                this.roles = !!this.$route.meta ? this.$route.meta.roles : [];
                let roles = this.roles;
                if (!!roles && roles.length) {
                    let user = await this.fetchData();
                    if (roles.indexOf(user.role.name) !== -1) {
                        this.is_show = 1;
                    } else {
                        this.is_show = 2;
                        if (user.role.name === 'member') {
                            this.$auth.logout();
                        }
                    }
                } else {
                    this.$router.push('/login');
                }
            },
        }
    }
</script>
