
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Fonts awesome
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
//@import '../../../../node_modules/font-awesome/scss/font-awesome.scss';
// Variables
@import "variables";

// Vue Select style
@import "vue-select/src/scss/vue-select.scss";

// Bootstrap Config
//@import '../../../../node_modules/bootstrap/scss/bootstrap';
@import "layout/bootstrap_custom";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Login style
@import "login/app";
@import "login/style";

// Layout style
@import "layout/style";

// Release number screen style
@import "layout/release_number/style";

// Post style
@import "layout/post/style";
