.post-wrapper {
    .content-header {
        h2 {
            border: unset;
            font-weight: bold;
            font-size: 1.35em;
        }
        button.btn-add {
            height: 40px !important;
            background: #5b9bd5;
            font-size: 1.5em !important;
            line-height: 0;
            border-color: #5b9bd5;
        }
    }
    .content {
        margin: 20px auto;
        &-table {
            width: 97%;
            &-top {
                margin: 15px auto;
                border: 1px solid #064680;
                justify-content: center;
                align-items: center;
                padding-top: 18px;
                background-color: #f7f7f7;

            }
            .table {
                thead {
                    background-color: #c3c3c3;
                    tr, th {
                        border: 1px solid #064680;
                        color: #4e4e4e;
                    }
                }
                tbody {
                    background-color: #f9f9f9;
                    border-top: 1px solid #064680;
                    tr, td {
                        border: 1px solid #064680;
                    }
                    .btn {
                        border-color: #064680;
                        &.btn-del {
                            background-color: #FBE5D6;
                            color: black;
                            &:hover {
                                background-color: #ec9e69;;
                                color: #1c211c;
                                border-color: #96bde0;
                            }
                        }
                        &.btn-edit {
                            background-color: #DEEBF7;
                            color: black;
                            border-radius: 0;
                            &:hover {
                                background-color: #81bcf3;
                                color: #1c211c;
                                border-color: #96bde0;
                            }
                        }
                        &.btn-show {
                            background-color: #D6DCE5;
                            color: black;
                            border-radius: 0;
                            width: 80%;
                            &:hover {
                                background-color: #8fb0e2;;
                                color: #1c211c;
                                border-color: #96bde0;
                            }
                        }

                    }
                }
            }
            .right-items {
                justify-content: center;
                align-items: center;
                height: 100%;
                position: relative;

            }
            .form-left {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    border-left: 2px solid #989797;
                    right: -10px;
                    height: 85%;
                }
                .btn-search {
                    width: 100%;
                    background-color: #fdde80;
                    border-color: #d2dc56;
                    &:hover {
                        background-color: #fdc92b;
                    }
                }
                #search-input {
                    background-color: #f3f3f3;
                    text-align: center;
                }

            }
            .form-group {
                &.row {
                    align-items: center;
                }
            }


        }
        .v-select {
            background-color: #f3f3f3;
            .vs__dropdown-menu {
                background-color: #f3f3f3;
            }
        }
        .btn-reset-search {
            border-radius: 0;
            margin-bottom: 15px;
        }
    }
    .content-form {
        width: 97%;
        .form-content {
            margin-left: 15px ;
        }
        textarea {
            resize: none;
            font-size: 1rem !important;
        }
        .ckeditor {
            width: 98%;
        }
        label {
            color: #333333;
            font-size: 1.2rem;
        }
        .btn {
            color: #424242;
            padding: 5px 25px;
            font-size: 1.2rem !important;
            border-color: #065865;
            &.btn-submit{
                background: #d8ecff;
                &:hover {
                    border-color: #09a1b9;
                    background: #7dc0ff;
                }
            }
            &.btn-cancel{
                background: #FFF2CC;
                padding: 5px 40px;
                &:hover {
                    border-color: #09a1b9;
                    background: #ffe18a;
                }
            }
        }
        input {
            &[type='text'] {
                font-size: 1rem !important;
            }
        }
        /**
            vue-datapicker
         */
        .vdp-datepicker {
            input[type='text'] {
                width: 100%;
                padding-left: 10px;
                height: 40px;
                border: 1px solid #9f9f9f;
            }
        }
        .old-image {
            display: flex;
            flex-wrap: wrap;
        }
        .left-form {
            background-color: #F2F2F2;
        }
    }
    .v-select {
        background: #fff;
        .vs__dropdown-toggle {
            border-radius: 0;
        }
        .vs__selected-options {
            flex-wrap: unset ;
            input {
                &::placeholder {
                    opacity: 0.4;
                }
                text-align: center;
            }
        }
        .vs__actions {
            svg {
                visibility: hidden;
            }
            &::after {
                content: '';
                position: absolute;
                background: url("../../../images/arrow-solid.png") no-repeat;
                background-size: contain;
                width: 13px;
                height: 13px;
                right: 5px;
                opacity: 0.5;
            }
        }
        &.vs--open {
            .vs__actions {
                &::after {
                    transform: rotate(180deg);
                }
            }
        }
        .vs__dropdown-menu {
            width: 100% !important;
            min-width: unset;
        }
        &#release_number {
        }
    }
    #dropzone {
        background-color: #FFFFFF;
    }
    #old-img {
        position: relative;
        &:hover {
            &::after {
                display: block;
            }
        }
        &::after {
            content: '';
            position: absolute;
            background: url('../../../images/remove.png') no-repeat;
            width: 50px;
            height: 50px;
            background-size: contain;
            top: calc(50% - 25px);
            left: calc(50% - 25px);
            display: none;
        }
    }
}
