<template>
    <div>
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon"><i class="fab fa-algolia" style="font-size: 48px;"></i></div>
                        <div class="mr-5">{{data.count_release_number}} 発売号</div>
                    </div>
                    <router-link class="card-footer text-white clearfix small z-1" :to="{ name: 'admin.release_number.index' }"><span
                            class="float-left">詳細を見る</span> <span class="float-right"><i
                            class="fas fa-angle-right"></i></span>
                    </router-link>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-warning o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon"><i class="far fa-newspaper" style="font-size: 48px;"></i></div>
                        <div class="mr-5">{{data.count_post}} 記事</div>
                    </div>
                    <router-link class="card-footer text-white clearfix small z-1" :to="{ name: 'admin.post.index' }"><span
                            class="float-left">詳細を見る</span> <span class="float-right"><i
                            class="fas fa-angle-right"></i></span>
                    </router-link>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-success o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon"><i class="fas fa-award" style="font-size: 48px;"></i></div>
                        <div class="mr-5">{{data.count_category}} カテゴリ</div>
                    </div>
                    <router-link class="card-footer text-white clearfix small z-1" :to="{ name: 'admin.category.index' }"><span
                            class="float-left">詳細を見る</span> <span class="float-right"><i
                            class="fas fa-angle-right"></i></span>
                    </router-link>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-danger o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon"><i class="fas fa-baby" style="font-size: 48px;"></i></div>
                        <div class="mr-5">{{data.count_user}} メンバー</div>
                    </div>
                    <router-link class="card-footer text-white clearfix small z-1" :to="{ name: 'admin.member.index' }"><span
                            class="float-left">詳細を見る</span> <span class="float-right"><i
                            class="fas fa-angle-right"></i></span>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script src="../business/HomeBusiness.js"></script>
<style lang="css">
    .card-body .mr-5 {
        font-size: 35px;
    }
</style>